<p id="main_header_menu" style="margin-bottom:1.5em">¡Yay! Bienvenido a Soxialit</p>
<div class="row">
  <div class="span6" id="edit_account_data">
    <div class="form-horizontal">
     <%= form_for @user, :url => wizard_path, :html => { :multipart => true }, :validate => true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>  
      <div class="control-group">
        <label class="control-label">Nombre de usuario (URL)</label>
        <div class="controls">
          <div class="field">
          <%= f.text_field :username %>
        </div>
          <p id="edit_information">http://soxialit.com/<span id="fashion"><%= @user.username %></span></p>
          <p id="edit_username_format">* Sólo puede contener letras, números y guión bajo.</p>
        </div>
      </div>
      <hr />
      <div class="control-group">
        <label class="control-label">Elige un perfil</label>
        <div class="controls">
          <% for role in Role.find(:all) %>
            <% unless role.name == "admin" %>
              <%= radio_button_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
              <%= role.name %>
              <br/ >
            <% end %>
          <% end %>
        </div>
      </div>
      <hr />
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Crear Perfil", :class => "button-want" %>
        </div>
      </div>
     <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  mixpanel.people.identify("<%=@user.id%>");
  mixpanel.people.set({
    "$email": "<%=@user.email%>",
    "$name": "<%=@user.username%>"
  })
  mixpanel.name_tag('<%=@user.username%>');
</script>