<h2>¡Yay! Bienvenido a Soxialit.</h2>
<div class="row">
  <div class"span3 offset3">
    <h3 id="moveToRight">Crea tu perfil</h3>
  </div>
</div>


<div class="row">
  <div class"span6">
    <div style="width:50%; background-color:#F4F2F1" class="well">
  <%= render layout: 'form' do |f| %>

    <div class="field">
      <h5>Nombre de usuario:</h5>
      <p>(http://www.soxalit.com/<span id="fashion">username</span>)</p>
      <%= f.text_field :username %>
    </div><br />
    <div class="field">
      <% if !@user.picture.present? %>
      <%= image_tag "http://graph.facebook.com/#{@user.uid}/picture?type=square" %>
      <% else %>
      <%= image_tag(@user.picture_url, :width => 100) %>
      <% end %>

      <h5>Cambiar foto de perfil:</h5>
      <%= f.file_field :picture %>
    </div><br />
    <div class="field">
      <h5>Ubicación:</h5>
      <%= f.text_field :location, :placeholder => "Ej. Amsterdam" %>
    </div><br />
    <div class="field">
      <h5>Website, Blog o Facebook Fan Page:</h5>
      <%= f.text_field :website, :placeholder => "Ej. www.soxialit.com" %>
    </div>
    <div class="field" >
      <h5>Bio:</h5>
      <%= f.text_area :bio, rows: 5, :placeholder => "Ej. Diseñador de modas especializado en ..." %>
    </div>
  <% end %> 
  </div>
</div>
</div>

<script type="text/javascript">
  mixpanel.people.identify("<%=@user.id%>");
  mixpanel.people.set({
    "$email": "<%=@user.email%>",
    "$name": "<%=@user.username%>"
  })
  mixpanel.name_tag('<%=@user.username%>');
</script>
