<h2>¡Yay! Bienvenido a Soxialit.</h2>
<div class="row">
  <div class"span3 offset3">
    <h3 id="moveToRight">Crea tu perfil</h3>
  </div>
</div>

<div class="row">
  <div class"span6">
    <div style="width:50%; background-color:#F4F2F1" class="well">
  <%= render layout: 'form' do |f| %>
    
    <div class="field">
      <h5>Nombre de usuario:</h5>
      <p>( www.soxialit.com/<span id="fashion">username</span> )</p>
      <%= f.text_field :username %>
    </div>
    
  <% end %> 
  </div>
</div>
</div>

<script type="text/javascript">
  mixpanel.people.identify("<%=@user.id%>");
  mixpanel.people.set({
    "$email": "<%=@user.email%>",
    "$name": "<%=@user.username%>"
  })
  mixpanel.name_tag('<%=@user.username%>');
</script>