<div class="row">
  <div class="span4" id="about_menu" style="border-right: 1px solid rgba(0, 0, 0, 0.0976563)">
  	<div id="user_cover_photo">
      <% if current_user == @user %>
  	    <div class="user_edit">
  	  	  <%= link_to "Editar", edit_user_path(@user) %>
  	    </div>
      <% end %>
  	  <% if !@user.cover.present? %>
	      <%= image_tag("user_cover_photo_default.jpg") %>
	    <% else %>
	      <%= image_tag @user.cover_url(:cover) %>
	    <% end %>
  	</div>
  	<div id="user_profile_picture">
  	  <%= render 'users/profiles/profile_picture' %>
  	</div>
  	<div id="user_profile_name">
  	  <%= @user.nickname %>
  	</div>
  	<div id="user_profile_role">
  	  <%= @user.roles.first.name %>
  	</div>
  </div>
  <div class="span10 offset4">
  	<div style="padding:2em">
      <p id="user_menu">
      	<%= link_to "Actividad", muro_path(@user), remote: true %> | 
      	<%= link_to "Favoritos", favorites_path(@user), remote: true %> | 
      	<%= link_to "Bio", biografia_path(@user), remote: true %> |
      	<span id="user_menu_social">
          <%= link_to "Following", following_user_path(@user), remote: true %> (<%= @user.followed_users.count %>) |
      	  <%= link_to "Followers", followers_user_path(@user), remote: true %> (<%= @user.followers.count %>) 
        </span>
      </p>
      <span><%= render 'follow_form' if user_signed_in? %></span>
      <hr />
      <div style="margin-top:2em" id="ajax">
        <%= render 'users/muro' %>
      </div>
    </div>
  </div>
</div>