<%= render 'users/profiles/profile_header' %>
<div style="margin-top:2%" class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<ul class="nav pull-left">
					<li id="profile_nav_bar"><%= link_to "Items", list_items_path(@user), 
							remote: true %></li>
					<li class="divider-vertical"></li>
					<li id="profile_nav_bar"><%= link_to image_tag('like-active.png'), favorites_path(@user),
							remote: true %></li>
					<li class="divider-vertical"></li>
				</ul>
				<ul class="nav pull-right">
					<% if current_user == @user %>
						<% if @user.id == 65 || @user.id == 27 || @user.id == 47 || @user.id == 16 || @user.id == 265 || @user.id == 67 || @user.id == 20 %>
						<li class="divider-vertical"></li>
							<li>
								<%= link_to image_tag('product.png'), new_product_path %> 
							</li>
						<% else %>
						<li class="divider-vertical"></li>
							<li>
								<%= link_to image_tag('change.png', style: "margin-top:-10%"), partners_path %> 
							</li>
						<% end %>
					<% end %>
					<% if current_user == @user %>
							<li class="divider-vertical"></li>
							<li>
							<%= link_to image_tag('post.png', style:"margin-left:50%"), new_post_path %>
							</li>
					<% end %>
              	</ul>
            </nav>
		</div>
	</div>
</div>
<div id="ajax-status" style="float:left; position:absolute; display:none; margin: 0% 33%; z-index: 3000"><%= image_tag("ajax-loader.gif") %></div>
