
	<div class="row-fluid">
		<div id="profile">
			<div class="span2 offset1">
				<span id="profile_picture">
					<%= render 'users/profiles/profile_picture' %>
				</span>
			</div>
			<div class="span4">
				<div id="username">
					<p><%= @user.username %></p>
				</div>
				<p id="bio"><%= @user.bio %></p>

				<div id="location">
					<p><i class="icon-map-marker"></i> <%= @user.location %></p>
				</div>
				<span id="website"> <%= link_to @user.website %></span>
			</div>
			<div class="span3">
				<div id="bio">
					
				</div>
			</div>
			<div class="span2">
				<span id="follow">
					
				</span>
			</div>
		</div>
	</div>
<hr />