<div class="row-fluid">
	<div id="show_profile_frame">
		<div class="span3">
			<span id="profile_picture">
				<%= render 'users/profiles/profile_picture' %>
			</span>
		</div>
		<div class="span6">
			<p id="username"><%= @user.nickname %></p>
				<% if @user.roles.first.name == 'fashion lover' %>
					<p id="fashionlover">fashion lover</p>
				<% elsif @user.roles.first.name == 'designer' %>
					<p id="designer"> designer</p>
				<% elsif @user.roles.first.name == 'boutique store' %>
					<p id="boutique">boutique store</p>
				<% elsif @user.roles.first.name == 'blogger' %>
					<p id="blogger">blogger</p>
				<% elsif @user.roles.first.name == 'fotografo' %>
					<p id="fotografo">fotógrafo</p>
				<% else %>
					<p id="queen">Soxialit</p>
				<% end %>
			<p id="url"><i class="icon-globe"></i> <%= link_to @user.website, @user.website, target: '_blank' %>
				<span id="location"><i class="icon-map-marker"></i><%= @user.location %></span>
			</p>
			<% if @user.bio.nil?%>
			<% else %>
				<% if @user.bio.length >= 109 %>
					<div style="width:500px" class="text-title">
						<p style="width:380px" id="description_user_perfil">
							<%= @user.bio %>
						</p>
						<%= link_to "Ver mas...", bio_path(:user_id => @user.id), {:id => "modal", :rel => "tab", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true, :class => "link_bio"} %>
					</div>
				<% else %>
					<p id="description_user_profile">
						<%= @user.bio %>
					</p>
				<% end %>
			<% end %>
			<p id="profile_nav_bar"><span id="followers_count_<%=@user.id%>" style="color:red"><%= @user.followers.count %></span>
						<%= link_to "Followers", followers_user_path(@user), remote: true %> |
				<span style="color:red"><%= @user.followed_users.count %></span>
						<%= link_to "Following", following_user_path(@user), remote: true %>
			</p>
		</div>

		<div class="span3">
			<div id="bio">
				<%= render 'follow_form' if user_signed_in? %>
				<% if current_user == @user %>
					<%= link_to "Crear Micropost", new_post_path, :class => 'button-want' %><hr />
					<% if @user.id == 65 || @user.id == 27 || @user.id == 47 || @user.id == 16 || @user.id == 265 || @user.id == 67 || @user.id == 20 %>
						<%= link_to "Crear Producto", new_product_path, :class => "button-want" %> 
					<% end %>
					<% if @user.roles.first.name == "fotografo" %>
						<%= link_to "Crear Proyecto", new_project_path, :class => "button-want" %> 
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>