<div class="row-fluid">
	<div id="show_profile_frame">
		<div class="span2 offset1">
			<span id="profile_picture">
				<%= render 'users/profiles/profile_picture' %>
			</span>
		</div>
		<div class="span5">
			<p id="username"><%= @user.nickname %></p>
			<p>
				<% if @user.roles.first.name == 'fashion lover' %>
					<span id="fashionlover">fashion lover</span>
				<% elsif @user.roles.first.name == 'designer' %>
					<span id="designer"> designer</span>
				<% elsif @user.roles.first.name == 'boutique store' %>
					<span id="boutique">boutique store</span>
				<% elsif @user.roles.first.name == 'blogger' %>
					<span id="blogger">blogger</span>
				<% elsif @user.roles.first.name == 'fotografo' %>
					<span id="fotografo">fotógrafo</span>
				<% else %>
					<span id="queen">Queen</span>
				<% end %>
				<span id="location"><i class="icon-map-marker"></i><%= @user.location %></span>
			</p>
			<% if @user.bio.nil?%>
			<% else %>
				<% if @user.bio.length >= 109 %>
					<p id="description_user_profile">
						<%= @user.bio %>
					</p>
					<%= link_to "Ver mas...", bio_path(:user_id => @user.id), {:id => "modal", :rel => "tab", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true, :class => "link_bio"} %>
				<% else %>
					<p id="description_user_profile">
						<%= @user.bio %>
					</p>
				<% end %>
			<% end %>
			<p id="url"><i class="icon-globe"></i> <%= link_to @user.website, @user.website, target: '_blank' %></p>
		</div>
		<div class="span3">
			<div id="bio">
				<%= render 'follow_form' if user_signed_in? %>
				<% if current_user == @user %>
					<%= link_to "Crear Micropost", new_post_path, :class => 'button-want' %><hr />
					<% if @user.id == 65 || @user.id == 27 || @user.id == 47 || @user.id == 16 || @user.id == 265 || @user.id == 67 %>
						<%= link_to "Crear Producto", new_product_path, :class => "button-want" %> 
					<% end %>
					<% if @user.roles.first.name == "fotografo" %>
						<%= link_to "Crear Proyecto", new_project_path, :class => "button-want" %> 
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>