<span id="headline_color">
	<% if feed_item.activitable_type == "User" && feed_item.action == "create"  %>
	  <span class="timestamp" style="float:right">
		<%= time_ago_in_words(feed_item.created_at) %>.
		<br />
	  </span>
	  se acaba de unir a Soxialit.
	  <% if feed_item.activitable.roles.first.name == 'fashion lover' %>
		<p id="fashionlover">fashion lover</p>
	  <% elsif feed_item.activitable.roles.first.name == 'designer' %>
		<p id="designer"> designer</p>
	  <% elsif feed_item.activitable.roles.first.name == 'boutique store' %>
		<p id="boutique">boutique store</p>
	  <% elsif feed_item.activitable.roles.first.name == 'blogger' %>
		<p id="blogger">blogger</p>
	  <% elsif feed_item.activitable.roles.first.name == 'fotografo' %>
		<p id="fotografo">fotógrafo</p>
	  <% end %>

	  <% if user_signed_in? %>	
	  	<% unless current_user?(feed_item.activitable) %>
			<div style="margin-top:0.5em" id="form_<%= feed_item.activitable.id %>" %>
			  <% if current_user.following?(feed_item.activitable) %>
				<%= render :partial => 'shared/unfollow', :locals => { :user => feed_item.activitable } %>
				  <% else %>
				<%= render :partial => 'shared/follow', :locals => { :user => feed_item.activitable } %>
			  <% end %>
			</div>
		<% end %>
	  <% end %>

	<% elsif feed_item.activitable_type == "Product" && feed_item.action == "create" %>	
		agregó 
		<% if feed_item.activitable.nil? %>
		<% else %>
		<span id="item_link"><%= link_to feed_item.activitable.title, product_path(feed_item.activitable) %></span>
		a sus <span id="user_and_items_link"><%= link_to "Items", user_path(feed_item.user) %></span>.
		<% end %>
	<% elsif feed_item.activitable_type == "Product" && feed_item.action == "like"  %>
		<span style="color:red">loves</span> <span id="item_link_likes"><%= link_to feed_item.activitable.title, 
															product_path(feed_item.activitable) %></span>
	<% elsif feed_item.activitable_type == "Micropost" && feed_item.action == "create"  %>
		<span style="">compartió:</span><br/ >
			<span class="timestamp" style="float:right">
				<%= time_ago_in_words(feed_item.created_at) if feed_item.activitable_type == "Micropost" %>.
				<br />
			</span>
		<br /><br /><span id="item_link_micropost"><%= link_to feed_item.activitable.title,
													micropost_path(feed_item.activitable), target: '_blank' %></span>
	<% elsif feed_item.activitable_type == "Post" && feed_item.action == "create"  %>
		<span style="">publicó un Post:</span><br/ >
			<span class="timestamp" style="float:right">
				<%= time_ago_in_words(feed_item.created_at) if feed_item.activitable_type == "Post" %>.
				<br />
			</span>
		<br /><br /><span id="item_link_micropost"><%= link_to feed_item.activitable.title,
																		post_path(feed_item.activitable) %></span>
	<% elsif feed_item.activitable_type == "Micropost" && feed_item.action == "like"  %>
		<span style="color:red">loves</span> <span id="item_link_likes"> el siguiente link:</span>
		<br /><br /><span id="item_link_micropost"><%= link_to feed_item.activitable.title,
														micropost_path(feed_item.activitable), target: '_blank' %></span>
	<% elsif feed_item.activitable_type == "Post" && feed_item.action == "like"  %>
		<span style="color:red">loves</span> <span id="item_link_likes"> el siguiente Post:</span>
		<br /><br /><span id="item_link_micropost"><%= link_to feed_item.activitable.title, post_path(feed_item.												activitable.id), target: '_blank' %></span>
	<% elsif feed_item.activitable_type == "Project" && feed_item.action == "create"  %>
		<span style="">publicó un Proyecto:</span><br/ >
			<span class="timestamp" style="float:right">
				<%= time_ago_in_words(feed_item.created_at) if feed_item.activitable_type == "Post" %>.
				<br />
			</span>
		<br /><br /><span id="item_link_micropost"><%= link_to feed_item.activitable.name,
																		project_path(feed_item.activitable) %></span>
	<% end %>
</span>