<% if signed_in? %>
	<div style="margin-top:-3%; margin-right: 5%" class="votacion" id="votacion_<%= feed_item.activitable.id %>">
		<% if feed_item.activitable.id == current_user.voted_by?(current_user.evaluations, feed_item.activitable.id) %>
		    <div id="ajax-status" style="float: right; display:none; margin-left: 50%;">
				<%= image_tag("loading.gif") %>
			</div>
			<span id="want_<%= feed_item.activitable.id %>">
				<div id="love_icon_<%= feed_item.activitable.id %>" class="love_icon_active">
					<span style="float:left; display:block; margin-left:-50%; color:black" 
								id="love_post_<%= feed_item.activitable.id %>">
						<%= feed_item.activitable.reputation_value_for(:likes).to_i %>
					</span>
				</div>
   			</span>
			<% elsif current_user && !current_user.voted_for?(feed_item.activitable) %>
			    <div id="ajax-status" style="float: right; display:none; margin-left: 50%;">
					<%= image_tag("loading.gif") %>
				</div>
				<span id="want_<%= feed_item.activitable.id %>">
					<div id="love_icon_<%= feed_item.activitable.id %>" class="love_icon">
						<span style="float:left; display:block; margin-left:-50%; color:black" 
									id="love_post_<%= feed_item.activitable.id %>">
							<%= feed_item.activitable.reputation_value_for(:likes).to_i %>
						</span>
						<%= link_to "xxx", likes_post_path(feed_item.activitable, type: "up"), 
								:class =>"trick_anchor", :remote => true,  method: "post", id: "link" %>
					</div>
	   			</span>
			<% else %>
		<% end %>
	</div>
 <% end %>