
<% if feed_item.activitable_type == "Product" && feed_item.action == "create"  %>
	<div id="product_background" class="image_hover">
		<div style="display:block"><%= link_to image_tag(feed_item.activitable.picture), 
														product_path(feed_item.activitable) %></div>
		
		<%= render :partial => 'feed/likes', :locals => { :feed_item => feed_item } %>

		<br/>
		<div style="text-align:left; margin-left:100px; margin-top:5px;">
			<span id="product_title" ><%= feed_item.activitable.title %></span>
			<span id="product_price">$<%= feed_item.activitable.price %></span>
			by
			<span id="product_designer">
				<%= link_to  feed_item.activitable.brand, 
						user_path(feed_item.activitable.user), :id => "user_and_items_link" %></span>
		</div>
	</div>
<% elsif feed_item.activitable_type == "Product" && feed_item.action == "like" %>
	<div id="product_background" class="image_hover">
		<div style="display:block; width:250px; margin-left:100px"><%= link_to image_tag(feed_item.activitable.picture), 
														product_path(feed_item.activitable) %></div>
		
		<%= render :partial => 'feed/likes', :locals => { :feed_item => feed_item } %>

		<br/>
		<div style="text-align:left; margin-left:100px; margin-top:5px;">
			<span id="product_title" style="font-size:1em" ><%= feed_item.activitable.title %></span>
			<span id="product_price" style="font-size:1em">$<%= feed_item.activitable.price %></span>
			by
			<span id="product_designer">
				<%= link_to  feed_item.activitable.brand, 
						user_path(feed_item.activitable.user), :id => "user_and_items_link" %></span>
		</div>
	</div>	
<% end %>