<% if feed_item.activitable_type == "Product" && feed_item.action == "create"  %>
	<div style="margin-left:10px">
		<span id="product_title"><%= feed_item.activitable.title %></span><br/>
		<span id="product_price">$<%= feed_item.activitable.price %>0</span><br/ >
		<span id="product_designer">
			<%= link_to  feed_item.activitable.brand, products_path %>
		</span>
	</div>
	
<% elsif feed_item.activitable_type == "Product" && feed_item.action == "like" %>
	<div id="product_background">
		<div style="display:block; width:80px; margin-left:20px">
			<%= image_tag "one_like.png" %>
		</div>
	</div>
	
<% elsif feed_item.activitable_type == "Micropost" && feed_item.action == "create" %>
	<div id="product_background" class="image_hover">
		<div style="width:120px; margin-left:10px" id="micropost_img">
		   <% if feed_item.activitable.picture? %>
		    <%= link_to image_tag(feed_item.activitable.picture_url(:feed)), feed_item.activitable.url, target: '_blank' %>
		   <% else %>
		    <%= link_to image_tag(feed_item.activitable.thumbnail), feed_item.activitable.url, target: '_blank' %>
		   <% end %>
		</div>
	</div>

<% elsif feed_item.activitable_type == "Micropost" && feed_item.action == "like" %>
	<div id="product_background">
		<div style="display:block; width:80px; margin-left:20px">
			<%= image_tag "one_like.png" %>
		</div>
	</div>
	
<% elsif feed_item.activitable_type == "Project" && feed_item.action == "create" %>
 <div id="product_background" class="">
  <div class="row" style="display:block;  margin-left:35px">
  	<div style="width:400px; margin-left:3em" >
		<%= image_tag(feed_item.activitable.picture) %>
	</div>
  </div>
  <br />
 </div>
<% end %>