<div style="top:50%; left:44%; width:615px" class="modal-soxialit">
	<div style="max-height: 630px" class="modal-body">
    <button type="button" class="close-button" data-dismiss="modal" aria-hidden="true">X</button>
		<div class="span7">
			<% if user_signed_in? %>
			  <p style="font-weight:lighter; color:#777; font-size:1.5em; font-family:acta-display;">Comparte una historia</p>
        <br>
        <div class="bs-docs-example">
            <div class="tabbable" style="margin-bottom: 18px;">
              <ul class="nav nav-tabs">
                <% if current_user.roles.first.name == "admin" %>
                <li class="active"><span id="select_url" style="cursor:pointer; color: rgb(0, 165, 240);">Comparte un link </span></li>
                <li class=""> | <span id="select_img" style="cursor:pointer; color: rgb(0, 165, 240);"> Comparte una imagen</span></li>
                <% end %>
              </ul>
              <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
                <div class="tab-pane active" id="">
                  <%= form_for(@micropost, 
                    {:id => "modal", :rel => "tab", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true } ) do |f| %>
                    <%= render 'shared/error_messages', object: f.object %>
                    <div class="field">
                       <p style="display:block" id ="post_title"> 
                         <span id="label_title" style="font-weight:lighter; color:#777; font-size:0.9em; font-family:acta-display;float:left; margin-right: 14%">Título : </span>
                          <%= f.text_field :title, :rows => "1", :class => "span4" %>
                      </p>
                      <span id="label_url" style="font-weight:lighter; color:#777; font-size:0.9em; font-family:acta-display;float:left; margin-right: 5%">Link de tu post: </span>
                      <%= f.text_area :url, :rows => "1", :class => "span4", :id => "status" %>
                      <span id="label_img" style="display:none; font-weight:lighter; color:#777; font-size:0.9em; font-family:acta-display;float:left; margin-right: 5%">Sube una imagen: </span>
                      <%= f.file_field :picture, :rows => "1", :class => "span4", id: "selection_file", style: "display:none" %>
                      <br/>
                      <span id="label_link" style="display:none; font-weight:lighter; color:#777; font-size:0.9em; font-family:acta-display; margin-right: 13%; margin-top:3%">Fuente: </span>
                      <%= f.text_area :url, :rows => "1", :class => "span4", id: "link_field", style: "display:none"%>
                      <%= f.hidden_field :url, :value => "http://soxialit.com" %>
                      <%= f.hidden_field :provider %>
                      <%= f.hidden_field :description %>
                      <%= f.hidden_field :thumbnail %>
                      <%= f.hidden_field :status, value: true %>
                    </div>
                     <span id="micropost-tags" style="font-weight:lighter; color:#777; font-size:0.9em; font-family:acta-display; display:block;">TAGS: 
                      <%= f.text_field :tag_list %></span>
                      <div style="float:right; margin-top: -9%"class="actions" >
                        <span><%= f.submit "Publicar", id: "button_send", class: "button-nopost", style:"margin-top:12%", :disabled => true %>
                        </span>
                      <br/>
                    <% end %>
                  </div>
                </div>
              </div>
            </div> <!-- /tabbable -->
          </div>
			<% end %>
    </div>
	</div>
<script type="text/javascript" charset="UTF-8">
  $(function() {
    $('#status').preview({key:'7f6cf7cec28511e0866c4040d3dc5c07'});

    $('#status').live('keyup keydown', function(e) {
      var empty = $(this).val().length;
      if ( empty > 0 ){
        $('#wait').show();
        $('#micropost-tags').show();
		   // $('#button_send').removeClass('button-nopost').addClass('button-want');
		    //$('#button_send').removeAttr('disabled');
	    }else{
		    //$('#button_send').removeClass('button-want').addClass('button-nopost');
		   // $('#button_send').attr("disabled", "disabled");
        $('#wait').hide();
  	  }
    });
  });

  $(function(){
    $('#micropost_title').live('keyup keydown', function(e) {
      var empty = $(this).val().length;
        if ( empty > 0 ){
          $('#button_send').removeAttr('disabled');
          $('#button_send').removeClass('button-nopost').addClass('button-want');
        }else{
          $('#button_send').removeClass('button-want').addClass('button-nopost');
          $('#button_send').attr("disabled", "disabled");
        }
    });
  });

  $(function(){
    $('#select_img').live('click', function(){
      $('#selection_file').show();
      $('#status').hide();
      $('#label_url').hide();
      $('#label_img').show();
      $('#wait').hide();
      $('div.selector.small').hide();
      $('#label_link').show();
      $('#link_field').show();
    });
  });

  $(function(){
    $('#select_url').live('click', function(){
      $('#status').show();
      $('#selection_file').hide();
      $('#label_url').show();
      $('#label_img').hide();
      $('#label_link').hide();
      $('#link_field').hide();
    });
  });
			
  $(function() {
    $('input#button_send').click(function(){
      var url = $('input#id_url:hidden').val() || $('#micropost_url').val();
      $('input#micropost_url').val(url);
       var provider_url = $('input#id_provider_url:hidden').val() || $('#micropost_url').val();;
       $('input#micropost_provider').val(provider_url);
        //var title = $('input#id_title:hidden').val() || $('#micropost_title').val();
        //$('input#micropost_title').val(title);
         var description = $('input#id_description:hidden').val();
         $('input#micropost_description').val(description);
          var image = $('input#id_thumbnail_url:hidden').val();
          $('input#micropost_thumbnail').val(image);
    });
    return false;
  });

  $(function() {
    $('input#button_send').click(function(){
      setTimeout(function() {
               location.reload('.microposts');
      }, 500);
    });
  });


Galleria.run('.galleria');

</script>