<div class="modal-soxialit">
  <div class="modal-body">
	<button type="button" class="close-button" data-dismiss="modal" aria-hidden="true">X</button>
	<div class="span10">
		<div id="modal-id"></div>
	  		<div class="row" id="image_hover">
				<span style="margin-bottom:2%" class="span6" >
					<div style="float:right; margin-right:-3%" id="mi_image">
						<%= image_tag(@product.picture) %>
					</div>
				</span>
				<span class="span4">
			  		<div class="right_side_items">
						<div id="mi_title">
							<%= @product.title %>
						</div>
						<p>by <span id="mi_brand"><%= @product.brand %></span></p>
						<p id="mi_description"><%= @product.description%></p>
						<div id="mi_view_more">
							<%= link_to "Ver Detalles", "#" %> 
						</div>
						<p id="mi_price">$<%= @product.price %>0
							<span style="margin-left:2%"><%= link_to "Comprar", "#", {:id => "modal", :rel => "tab", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true, :class => 'button-want'} %>
							</span>
						</p>
					</div>
				</span>
			</div>
		</div>
	</div>
</div>