<div style="top:50%; left:44%; width:800px" class="modal-soxialit">
	<div style="max-height: 630px" class="modal-body">
    <button type="button" class="close-button" data-dismiss="modal" aria-hidden="true">X</button>
		<div class="span8 offset1">
			<% if user_signed_in? %>
			  <p style="font-weight:lighter; color:#777; font-size:1.5em; font-family:acta-display;">Comparte una historia</p>
        <br>
        <div class="bs-docs-example">
            <div class="tabbable" style="margin-bottom: 18px;">
              <ul class="nav nav-tabs">
                <% if current_user.roles.first.name == "admin" %>
                <li class="active">
                  <span id="select_url" style="cursor:pointer; color: rgb(0, 165, 240);">
                    <div class="span1">
                      <%= image_tag('link_blanco.png', style: "width:30px; background-color:black; margin-top:6px") %><br/>
                        <span id="link_name" style="border-bottom: 2px solid black">Link </span>
                    </div>
                  </span>
                </li>
                <li>
                  <span id="select_img" style="cursor:pointer; color: rgb(0, 165, 240);">
                    <div style="margin-top:-4px" class="span1">
                      <%= image_tag('iconmonstr-photo-camera-6-icon.png', style: "width:40px") %> <br/>
                        <span id="img_name">Imagen</span>
                    </div>
                  </span>
                </li>
                <% end %>
              </ul>
              <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
                <div class="tab-pane active" id="">
                  <%= form_for(@micropost, 
                    {:id => "modal", :rel => "tab", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true } ) do |f| %>
                    <%= render 'shared/error_messages', object: f.object %>
                    <div class="field">
                       <p style="display:block" id ="post_title"> 
                         <span id="label_title" style="font-weight:lighter; color:#777; font-size:0.9em; font-family:acta-display;float:left; margin-right: 75px">Título : </span>
                          <%= f.text_field :title, :rows => "1", :class => "span4", 
                          :placeholder => 'Describe tu historia' %>
                      </p>
                      <span id="label_url" style="font-weight:lighter; color:#777; font-size:0.9em; font-family:acta-display;float:left; margin-right: 25px">Link de tu post: </span>
                      <%= f.text_area :url, :rows => "1", :class => "span4", :id => "status", :placeholder => 'p. ejem. http://soxialit.com' %>
                      <span id="label_img" style="display:none; font-weight:lighter; color:#777; font-size:0.9em; font-family:acta-display;float:left; margin-right: 12px">Sube una imagen: </span>
                      <%= f.file_field :picture, :rows => "1", :class => "span4", id: "selection_file", style: "display:none" %>
                      <%= f.text_area :thumbnail, :rows => "1", :class => "span4", id: "img_url", style: "display:none", :placeholder => 'URL de tu imagen' %>
                      <p id="internet" style="display:none; margin-left:22%; cursor:pointer; color: rgb(0, 165, 240);" >Desde Internet
                      </p>
                      <p id="computadora" style="display:none; margin-left:22%; cursor:pointer; color: rgb(0, 165, 240);" >Desde tu computadora</p>
                      <br/>
                      <span id="label_link" style="display:none; font-weight:lighter; color:#777; font-size:0.9em; font-family:acta-display; margin-right: 45px; margin-top:3%">URL fuente: </span>
                      <%= f.text_area :url, :rows => "1", :class => "span4", id: "link_field", style: "display:none", :placeholder => 'opcional' %>
                      <%= f.hidden_field :url, :value => "http://soxialit.com" %>
                      <%= f.hidden_field :provider %>
                      <%= f.hidden_field :description %>
                      <%= f.hidden_field :thumbnail %>
                      <%= f.hidden_field :group_id, class: "groups" %>
                      <%= f.hidden_field :status, value: true %>
                    </div>
                    <% if current_user.roles.first.name == "admin" %>
                      <p style="display:block" id ="post_title"> 
                         <span id="label_title" style="font-weight:lighter; color:#777; font-size:0.9em; font-family:acta-display;float:left; margin-right: 78px">Grupo: </span>
                         <%= f.collection_select :group_id, @groups, :id, :name ,:prompt => "Elige un grupo", class: "span4" %>
                      </p>
                    <% end %>
                     <span id="micropost-tags" style="font-weight:lighter; color:#777; font-size:0.9em; font-family:acta-display; display:block;">TAGS: 
                      <%= f.text_field :tag_list %></span>
                      <div style="float:right; margin-top: -9%"class="actions" >
                        <span><%= f.submit "Publicar", id: "button_send", class: "button-nopost", style:"margin-top:12%", :disabled => true %>
                        </span>
                      <br/>
                    <% end %>
                  </div>
                </div>
              </div>
            </div> <!-- /tabbable -->
          </div>
			<% end %>
    </div>
	</div>
<script type="text/javascript" charset="UTF-8">
  $(function() {
    $('#status').preview({key:'7f6cf7cec28511e0866c4040d3dc5c07'});

    $('#status').live('keyup keydown', function(e) {
      var empty = $(this).val().length;
      if ( empty > 0 ){
        var x = $('.title');
        if (x){
          setTimeout(function(){
            $('.title').text($('#micropost_title').val());
          }, 100);
        }
        $('#wait').show();
        $('#micropost-tags').show();
		   // $('#button_send').removeClass('button-nopost').addClass('button-want');
		    //$('#button_send').removeAttr('disabled');
	    }else{
		    //$('#button_send').removeClass('button-want').addClass('button-nopost');
		   // $('#button_send').attr("disabled", "disabled");
        $('#wait').hide();
  	  }
    });
  });

  $(function(){
    $('#micropost_title').live('keyup keydown', function(e) {
      var empty = $(this).val().length;
        if ( empty > 0 ){
          $('#button_send').removeAttr('disabled');
          $('#button_send').removeClass('button-nopost').addClass('button-want');
          var x = $('.title');
          if (x){
            setTimeout(function(){
              $('.title').text($('#micropost_title').val());
            }, 100);
          }
        }else{
          $('#button_send').removeClass('button-want').addClass('button-nopost');
          $('#button_send').attr("disabled", "disabled");
        }
    });
  });

  $(function(){
    $('#select_img').live('click', function(){
      $('#selection_file').show();
      $('#status').hide();
      $('#label_url').hide();
      $('#label_img').show();
      $('#wait').hide();
      $('div.selector.small').hide();
      $('#label_link').show();
      $('#link_field').show();
      $('#internet').show();
      $('#blogspot').hide();
      $('#imagen_pc').hide();
      $('#link_name').css('border-bottom', 'none');
      $('#img_name').css('border-bottom', '2px solid black');
    });
  });

  $(function(){
    $('#select_url').live('click', function(){
      $('#status').show();
      $('#selection_file').hide();
      $('#label_url').show();
      $('#label_img').hide();
      $('#label_link').hide();
      $('#link_field').hide();
      $('#internet').hide();
      $('#computadora').hide();
      $('#img_url').hide();
      $('#blogspot').show();
      $('#imagen_pc').show();
      $('#img_name').css('border-bottom', 'none');
      $('#link_name').css('border-bottom', '2px solid black');
    });
  });

  $(function(){
    $('#internet').live('click', function(){
      $('#img_url').show();
      $('#selection_file').hide();
      $('#computadora').show();
      $('#internet').hide();
    })
  });

  $(function(){
    $('#imagen_pc').live('click', function(){
      $('#selection_file').show();
      $('#status').hide();
    })
  });
  $(function(){
    $('#computadora').live('click', function(){
      $('#img_url').hide();
      $('#selection_file').show();
      $('#internet').show();
      $('#computadora').hide();
    })
  })
   			
  $(function() {
    $('input#button_send').click(function(){
      var url = $('input#id_url:hidden').val() || $('#micropost_url').val();
      $('input#micropost_url').val(url);
       var provider_url = $('input#id_provider_url:hidden').val() || $('#micropost_url').val();;
       $('input#micropost_provider').val(provider_url);
        //var title = $('input#id_title:hidden').val() || $('#micropost_title').val();
        //$('input#micropost_title').val(title);
         var description = $('input#id_description:hidden').val();
         $('input#micropost_description').val(description);
          var image = $('input#id_thumbnail_url:hidden').val() || $('#img_url').val();
            $('input#micropost_thumbnail').val(image);
          
      });
    return false;
  });

  $(function() {
    $('input#button_send').click(function(){
      setTimeout(function() {
               location.reload('.microposts');
      }, 500);
    });
  });
  $(function(){
    $("#micropost_group_id").live("change", function () {
      $('.groups').val($(this).val());
      $(this).blur();
    });
  })

Galleria.run('.galleria');

</script>