<div class="modal-story">
	<div style="max-height:330px; box-shadow: #555 0px 0px 0 7px;" class="modal-body">
    <span style="cursor:pointer" class="close-button" data-dismiss="modal" aria-hidden="true">x</span>
    <h2 align="center">Comparte una historia: </h2>
    <div class="bs-docs-example">
        <div class="tabbable" style="margin-bottom: 0px;">
          <ul class="nav nav-tabs">
            <% if current_user.roles.first.name == "admin" %>
            <li style="margin-left:30%" class="active">
              <span id="select_url" style="cursor:pointer; color: rgb(0, 165, 240);">
                <div style="text-align: center; border: 2px solid black;" class="span1">
                  <%= image_tag('link_blanco.png', style: "width:30px; background-color:black; margin-top:6px") %><br/>
                    <span id="link_name" style="">Link </span>
                </div>
              </span>
            </li>
            <li>
              <span id="select_img" style="text-align: center; cursor:pointer; color: rgb(0, 165, 240);">
                <div style="margin-top:-4px; text-align: center;" class="span1">
                  <%= image_tag('iconmonstr-photo-camera-6-icon.png', style: "width:40px") %> <br/>
                    <span id="img_name">Imagen</span>
                </div>
              </span>
            </li>
            <% end %>
          </ul>
        </div>
    </div>
    <div class="span6">
    	<%= form_for(@micropost) do |f| %>
			 <%= f.hidden_field :url, :value => "http://soxialit.com" %>
             <h3 id="label_url">URL</h3>
             <%= f.text_area :url, :rows => "3", :class => "span4", :id => "status", :placeholder => 'p. ejem. http://soxialit.com' %>
             <h3 id="label_img" style="display:none;">Sube una imagen</h3>
             <%= f.file_field :picture, :rows => "1", :class => "span4", id: "selection_file", style: "display:none" %>
             <div style="float:right; margin-right: 15%"class="actions" >
                <span><%= f.submit "Publicar", class: "button-story", style:"margin-top:-2%;" %>
                </span>
             </div>
        <% end %>
	</div>
</div>

<script type="text/javascript">
    $(function(){
        $('#select_img').live('click', function(){
            $('#label_img').show();
            $('#selection_file').show();
            $('#label_url').hide();
            $('#status').hide();
            $('#select_url').find('.span1').css('border', 'none');
            $(this).find('.span1').css('border', '2px solid black');
            $('#status').val('http://soxialit.com');
        });


        $('#select_url').live('click', function(){
            $('#label_img').hide();
            $('#selection_file').hide();
            $('#label_url').show();
            $('#status').show();
            $(this).find('.span1').css('border', '2px solid black');
            $('#select_img').find('.span1').css('border', 'none');
            $('#status').val('');
        });
    })
</script>
