<div class="row-fluid">
  <div style="margin-top:1%" class="span2" id="about_menu">
  	<ul id="menu_about">
	 <li id= "link_about"><%= link_to "Soxialit", soxialit_path, remote: true %></li>
     <li id="link_about" class="vender"><%= link_to "Vender", sell_path, remote: true %></li>
     <span id="about_submenu"><li id="link_about" class="guia"><%= link_to "Guía de Fotos", guides_path, remote: true %></li></span>
     <span id="about_submenu"><li id="link_about" class="ejemplo"><%= link_to "Ejemplos", examples_path, remote: true %></li></span>
	 <li id="link_about" class="comprar"> <%= link_to "Comprar", buy_path, remote: true %></li>
     <li id="link_about"><%= link_to "FAQ", faq_path, remote: true %></li>
     <li id="link_about"><%= link_to "Privacidad", privacy_path, remote: true %></li>
     <li id="link_about"><%= link_to "Condiciones", term_path, remote: true %></li>
    </ul>
  </div>
  <div class="span10" id="about_rightside">
  	<p id="titleMainIdea">Soxialit es una red social que conecta a los amantes de la moda.</p>
    <p id="titleSecondIdea">Descubre y comparte ítems, posts, fotografías y prendas hechas por creativos emergentes que aman la moda.</p>
    <hr />
  </div>
</div>
<script type="text/javascript">mixpanel.track("About Page Loaded")</script>