<div class="row-fluid">
  <div style="margin-top:1%" class="span2" id="about_menu">
  	<ul id="menu_about">
	 <li id= "link_about"><%= link_to "Soxialit", soxialit_path, remote: true %></li>
     <li id="link_about" class="vender"><%= link_to "Vender", sell_path, remote: true,
          :onmousedown => "_gaq.push(['_trackEvent', 'About Links', 'Check Vender OnMouse', 'Vender OnMouse']);" %></li>
     <span id="about_submenu"><li id="link_about" class="guia"><%= link_to "Guía de Fotos", guides_path, remote: true,
          :onmousedown => "_gaq.push(['_trackEvent', 'About Links', 'Check Guia OnMouse', 'Guia OnMouse']);" %></li></span>
     <span id="about_submenu"><li id="link_about" class="ejemplo"><%= link_to "Ejemplos", examples_path, remote: true,
          :onmousedown => "_gaq.push(['_trackEvent', 'About Links', 'Check Ejemplo OnMouse', 'Ejemplo OnMouse']);" %></li></span>
	 <li id="link_about" class="comprar"> <%= link_to "Comprar", buy_path, remote: true,
          :onmousedown => "_gaq.push(['_trackEvent', 'About Links', 'Check Comprar OnMouse', 'Comprar OnMouse']);" %></li>
     <li id="link_about"><%= link_to "FAQ", faq_path, remote: true %></li>
     <li id="link_about"><%= link_to "Privacidad", privacy_path, remote: true %></li>
     <li id="link_about"><%= link_to "Condiciones", term_path, remote: true %></li>
    </ul>
  </div>
  <div class="span10" id="about_rightside">
  	<p id="titleMainIdea">Soxialit te conecta con las personas más apasionadas de la moda</p><br/ >
    <p id="titleSecondIdea">Haz que tu talento y tu pasión por la moda lleguen a miles de personas.</p>
    <hr />
    <div id="about_body">
      <div class="row">
        <span class="span11 offset1">
          <%= image_tag 'about.jpg' %><br /><br /><br />
          <p style="color:#DD390D; font-weight:normal; font-size:1.8em">
            En Soxialit creemos en artistas de la moda como tú
          </p>
          <p style="font-size:1.6em; color:#444">Somos una comunidad de personas creativas que transforman el mundo escribiendo posts sobre moda, creando prendas que cumplen los sueños de aquellos que las visten, tomando fotografías de momentos trascendentes, diseñando portadas de revistas, haciendo entrevistas a las personas que admiramos y mucho más.</p>
          <p style="font-size:1.6em; color:#444">Soxialit nació para ser una comunidad de artistas de la moda: Editores, Bloggers, Diseñadores, Estilistas, Modelos, Fotógrafos, Maquillistas y más.</p><br />
        </span>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">mixpanel.track("About Page Loaded")</script>