<div class="row">
	<div class="span6">
		<p id="title">Soxialit</p>
	</div>
	<div class="span6">
		<% if user_signed_in? %>
		    <p id="session">Conectado como: <span id="nickname"><%= link_to current_user.username, 
		        user_path(current_user) %></span> |
		    	<%= link_to "Salir", destroy_user_session_path, :method => :delete %>
			</p>
  		<% else %>
			<p id="session">Si tienes una <strong>invitación</strong>, 
	   			<a href="http://www.soxialit.com/users/sign_in"
	   			onclick="_gaq.push(['_trackEvent', 'Links', 'Buy Onclick', 'Invitacion OnClick']);"
				onmousedown="_gaq.push(['_trackEvent', 'Links', 'Buy Onmousedown', 'Invitacion OnMouse']);">
				inicia sesión</a>.
	   			<br />
	   		</p>
	   		<p id="invitacion" style="text-align:center">Si no, <%= link_to 'solicita una ahora', 
	   							user_omniauth_authorize_path(:facebook) %> y crea tu perfil.
	   		</p>
	   		<br />
	   	<% end %>		
	</div>
</div>
<div class="row">
	<div class="span9">
		<h2 id="titleDescription">Soxialit es una <span id="redsocial">red social</span> que conecta<br/>
	<span id="fashion">fashion</span> <span id="bold">designers, bloggers, fotográfos y boutiques</span>
	<br />en México y Latinoamérica.
		</h2>
	</div>
	<div class="span3">
		<%= render 'social_plugins' %>
	</div>
</div>
<div class="row">
		<div id="wrapper">
			<div class="span5">
				<div id="leftside">
					<h4>Actualmente sólo se puede ingresar a Soxialit
						por <span id="redsocial">invitación</span>.
					</h4><br />
					<div id="leftsideSecondBlock">Si estás <span id="fashion">desesperado</span> por entrar<br/>
						obtén una cuenta <strong>ahora mismo</strong><br />
						por <strong>$10 USD</strong>.
						<br /><br />
						<%= render 'mercadopago' %>
					</div>
				</div>
			</div>
			<div class="span5 offset1">
			</div>
		</div>
</div>

<script type="text/javascript">
    mixpanel.track("Landing Page Loaded")
</script>