<div class="row">
	<div class="span6">
		<p id="title">Soxialit</p>
	</div>
	<div class="span6">
		<% if user_signed_in? %>
		    <p id="session">Conectado como: <span id="nickname"><%= link_to current_user.username, 
		        user_path(current_user) %></span>
		    	<% if !current_user.picture.present? %>
					<%= link_to image_tag("http://graph.facebook.com/#{current_user.uid}/picture?type=square", 
									width: 50, height: 50, :id =>  "nickname_small_picture"), user_path(current_user) %>
				<% else %>
					<%= link_to image_tag(current_user.picture_url(:thumb_profile), :id => "nickname_small_picture"), 
					    			user_path(current_user) %>
				<% end %>
			</p>
  		<% else %>
  			<p id="session">Crea tu perfil: 
  				<%= link_to 'inicia sesión', user_omniauth_authorize_path(:facebook),
	   				:onmousedown => "_gaq.push(['_trackEvent', 'Links', 'Login Onmousedown', 'Fb Auth OnMouse']);" %>
	   			con tu cuenta de <span style="color:blue">facebook</span>.
	   		</p>
	   		<br />
	   	<% end %>		
	</div>
</div>
<div class="row">
	<div class="span9">
		<h2 id="titleDescription">Soxialit es una <span id="redsocial">red social</span> que conecta<br/>
	<span id="fashion">fashion</span> <span id="bold">designers, bloggers, fotográfos y boutiques</span>
	<br />en México y Latinoamérica.
		</h2>
	</div>
	<div class="span3">
		<%= render 'social_plugins' %>
	</div>
</div>
<div class="row">
		<div id="wrapper">
			<div class="span5">
				<div id="leftside">
					<h4>Actualmente sólo se puede ingresar a Soxialit
						por <span id="redsocial">invitación</span>.
					</h4><br />
					<div id="leftsideSecondBlock">Si aún no tienes una, solicita una invitación
						<span id="fashion">ahora mismo</span> y crea tu perfil.
						<br /><br />
						<%= link_to 'Quiero una invitación', 
	   							user_omniauth_authorize_path(:facebook), :class => "btn btn-success" %>
					</div>
				</div>
			</div>
			<div class="span5 offset1">
			</div>
		</div>
</div>
			<h3 id="anuncios">Descubre Soxialit</h3>
			<br />
				<% @users.each do |user| %>
					<span class="span1 offset1">
						<% if !user.picture.present? %>
							<%= link_to image_tag("http://graph.facebook.com/#{user.uid}/picture?type=square", 
										width: 50, height: 50, :id =>  "nickname_small_picture"), "" %>
						<% else %>
						    <%= link_to image_tag(user.picture_url(:thumb_profile), :id => "nickname_small_picture"), 
						    			"" %>
						<% end %>
					</span>
					<span class="span3" id="nickname_users_list">
						<%= link_to user.username, "" %> | 
							<% if user.roles.first.name == 'fashion lover' %>
								<span id="fashionlover_list">fashion lover</span>
							<% elsif user.roles.first.name == 'boutique store' %>
								<span id="boutique_list">boutique store</span>
							<% elsif user.roles.first.name == 'admin' %>
								<span id="admin_list">QUEEN</span>
							<% else %>
								<span id="<%=user.roles.first.name%>_list"><%= user.roles.first.name %></span>
							<% end %>
						<br />
				      	<span id="nickname_small_followers">followers: <%= user.followers.count %><br />
				      	<i class="icon-map-marker"></i><span id="nickname_small_location"><%= user.location %></span>
				      	</span>
				      	<hr />
					</span>
				<% end %>

<script type="text/javascript">
    mixpanel.track("Landing Page Loaded")
</script>