<div id="ajax" style="float:left; position:fixed; display:none; margin: 20% 455px; z-index: 3000"><%= image_tag("ajax-loader.gif") %></div>
<% if user_signed_in? %>
  <div class="row">
    <div class="span10 offset1">
      <span style="float:left; margin-top:0em; margin-right:1em"><%= image_tag 'link.png' %></span>
        <%= render 'static_pages/micropost' %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span12" style="border-top:1px solid rgba(0, 0, 0, 0.0976563)">
    <%= render 'shared/feed' %>
  </div>
</div>

<% if user_signed_in? %>
<% if current_user.roles.first.name == 'admin' %>
<% if !@stats.nil? %>
	<h1>Cache Stats</h1>
	<table>
	  <tr>
	    <th>Metric</th>
	    <th>Value</th>
	  </tr>
	  <tr>
	    <td>Cache hits:</td>
	     <td><%= @stats['get_hits'] %></td>
	  </tr>
	  <tr>
	    <td>Cache misses:</td>
	    <td><%= @stats['get_misses'] %></td>
	  </tr>
	  <tr>
	    <td>Cache flushes:</td>
	    <td><%= @stats['cmd_flush'] %></td>
	  </tr>
	</table>
<% end %>
<% end %>
<% end %>

<script type="text/javascript">
var anchor = $('<a>', {'style':'display:block', 'id': 'image_top', 'class':'back_to_top', 'href':'#top', 'title': 'Back to Top', 'text': 'Top'});  anchor.appendTo($(document.body))    .hide();

	$(window).scroll(function(event){
	      if(getScrollTop() > 150) {
	          anchor.fadeIn(300);
	      } else {
	          anchor.fadeOut(300, function() {$(this).hide();});
	      }
	  });function getScrollTop() { 
 var x = 0;    x = x !== 0 ? top : (window.pageYOffset ? window.pageYOffset : 0);    x = x !== 0 ? x : (document.documentElement ? document.documentElement.scrollTop : 0);    x = x !== 0 ? x : (document.body ? document.body.scrollTop : 0);    return x;}

$(document).ready(function(){
	$('.typekit-badge').css('display', 'none');	
});

$(function() {
  $('#ajax')
    .hide()  // hide it initially.
    .ajaxStart(function() {
      $(this).show(); // show on any Ajax event.
    })
    .ajaxStop(function() {
      $(this).hide(); // hide it when it is done.
  });
});


    $(document).keyup(function(event) {
        if (event.keyCode == 13) {
			if($(this).closest('form').data('changed')){
				$(this).closest('form').submit();
				$(this).closest('form').[0].reset();
			  }
        }
    });

</script>


<script type="text/javascript">
  $(function() {
    $('#status').preview({key:'7f6cf7cec28511e0866c4040d3dc5c07'});

    $('#status').live('keyup keydown', function(e) {
      var empty = $(this).val().length;
      if ( empty > 0 )
        $('#wait').toggleClass('show');
    });
  });
</script>

<script type="text/javascript">
  $(function() {
    $('input#button_send').click(function(){
      var url = $('input#id_url:hidden').val();
      $('input#micropost_url').val(url);
       var provider_url = $('input#id_provider_url:hidden').val();
       $('input#micropost_provider').val(provider_url);
        var title = $('input#id_title:hidden').val();
        $('input#micropost_title').val(title);
         var description = $('input#id_description:hidden').val();
         $('input#micropost_description').val(description);
          var image = $('input#id_thumbnail_url:hidden').val();
          $('input#micropost_thumbnail').val(image);
     });
    return false;
  });
</script>

<script type="text/javascript"charset="UTF-8">
  $(function() {
    $('input#button_send').click(function(){
      setTimeout(function() {
               location.reload('.microposts');
      }, 500);
    });
  });
</script>

<script type="text/javascript">
  Galleria.run('.galleria');
</script>

<script type="text/javascript">mixpanel.track("Home Page Loaded")</script>