<div class="row">
  <div class="span12">
  </div>
</div>
<div class="row">
  <div class="span3 offset1">
  	<%= image_tag "tutorial1.png", :style => "float:left" %>
  </div>
  <div class="span8">
  	<p style="font-size:3em; font-weight:lighter; line-height:1.2em; color:#555; font-family:nimbus-sans, Helvetica Neue; margin-top:1em"><span style="color:black; font-size:1.2em">¡Bienvenido al nuevo Soxialit!</span> <br />Crea Colecciones de temás que te interesan.</p>
  </div>
</div>
<br /><br />
<div class="row">
  <div class="span5">
	<p style="font-size:2em; font-weight:lighter; line-height:1.4em; color:#555; font-family:nimbus-sans, Helvetica Neue; margin-top:1em;"><%= image_tag "tutorial4.jpg", width:50 %> Alicia ama el <i>streetstyle</i> y creó una colección llamada <b>weareuniform</b>. Allí comparte artículos y fotos que toma a diario.</p>
  </div>
  <div class="span7">		
  	<%= image_tag "tutorial5.png" %>
  </div>
</div>
<br /><br /><br />
<div class="row">
  <div class="span7">
	<%= image_tag "tutorial6.png" %>
  </div>
  <div class="span5">		
  	<p style="font-size:2em; font-weight:lighter; line-height:1.4em; color:#555; font-family:nimbus-sans, Helvetica Neue; margin-top:1em;">Cuando Alicia comparte un post, la comunidad puede votar por el y llevarlo al Top de la lista.</p>
  </div>
</div>
<br /><br /><br />
<div class="row">
  <div class="span5">
  <p style="font-size:2em; font-weight:lighter; line-height:1.4em; color:#555; font-family:nimbus-sans, Helvetica Neue; margin-top:1em;"><%= image_tag "tutorial7.jpg", width:50 %> Andrea está suscrita a <b>weareuniform</b> y recibe en su página principal los posts de esa y otras colecciones a las que está suscrita.</p>
  </div>
  <div class="span7">   
    <%= image_tag "tutorial8.png" %>
  </div>
</div>
<br /><br /><br />
<div class="row">
  <div class="span12">
        <hr />
        <p style="font-size:3em; font-weight:lighter; line-height:1.2em; color:black; font-family:nimbus-sans, Helvetica Neue; margin-top:1em; text-align:center">Crea tu primera Colección:</p><br />
    <p style="text-align:center; margin-bottom:3em"><%= link_to "Crear Colección", new_group_path, :class => "button-want"  %></p>
  </div>
</div>


