<div id="newsletter">
	<div class="row">
		<div class="span8">
			<%= image_tag "pauline.jpg" %>
		</div>
		<br />
		<div class="span2 offset1">
			<br />
			<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsoxialit.com%2Flas7depauline&amp;send=false&amp;layout=box_count&amp;width=100&amp;show_faces=true&amp;font=verdana&amp;colorscheme=light&amp;action=like&amp;height=90&amp;appId=200330006764703" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:90px;" allowTransparency="true"></iframe>
			<br />
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://soxialit.com/las7depauline" data-text="Las 7 de Pauline en @Soxialit: &quot;7 historias del mundo de la moda que no te puedes perder&quot;" data-via="MissOhmyDior" data-size="large">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<br />
			<p style="font-size:1.4em">Soy Pauline y cada semana te traeré las 7 mejores historias del mundo de la moda que no te puedes perder. Aquí siempre verás lo más novedoso así como muchas noticias de inspiración. Sígueme en Twitter: <%= link_to "@MissOhmyDior", "https://twitter.com/MissOhmyDior", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Pauline', 'twitter']);" %>, en Soxialit <%= link_to "missohmydior", "https://soxialit.com/ohmydior", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Pauline', 'soxialit']);" %> y encuéntrame en mi blog <%= link_to "ohmydior.org", "http://www.ohmydior.org/", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Pauline', 'blog']);" %>.
			</p>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<%= image_tag "uno.jpg" %>
		</div>
		<div class="span4">
			<h3>Un día en la vida de Cara Delevingne</h3>
			<p>Cara es definitivamente la modelo más famosa en estos momentos, <%= link_to "la podemos ver por todas partes", "http://the-electric.blogspot.mx/2012/12/a-day-in-life-of-cara.html", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Posts', 'uno']);" %> en grandes campañas como: H&M, Burberry, entre otros. Además de ser muy bonita Cara tiene una personalidad muy peculiar, es demasiado tomboy y todo le vale. Ella misma lo dice: si no te importa nada te la pasarás mejor.</p>
			<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fsoxialit.com%2Fmicroposts%2F400&amp;send=false&amp;layout=box_count&amp;width=100&amp;show_faces=false&amp;font=verdana&amp;colorscheme=light&amp;action=like&amp;height=90&amp;appId=235628993153454" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:90px;" allowTransparency="true"></iframe>
		</div>
		
	</div>
	<br/ ><br/ >
	<div class="row">
		<div class="span4">
			<%= image_tag "dos.jpg" %>
		</div>
		<div class="span4">
			<h3>Un preview de lo que vendrá para este Otoño - Invierno en H&M</h3>
			<p>Muchas personas piensan que el low cost no es muy atractivo, a mi me parece lo contrario y más mirando esta colección. Obtener cosas muy trendy a buen precio para mi es lo mejor y si no me crees <%= link_to "puedes ver aquí un poco de la pasarela", "http://songofstyle.blogspot.mx/2013/03/h-fashion-show.html", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Posts', 'dos']);" %> dónde presentaron la próxima colección.</p>
			<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fsoxialit.com%2Fmicroposts%2F401&amp;send=false&amp;layout=box_count&amp;width=100&amp;show_faces=false&amp;font=verdana&amp;colorscheme=light&amp;action=like&amp;height=90&amp;appId=235628993153454" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:90px;" allowTransparency="true"></iframe>
		</div>
	</div>
	<br/ ><br/ >
	<div class="row">
		<div class="span4">
			<%= image_tag "tres.png" %>
		</div>
		<div class="span4">
			<h3>Los peinados de las fashion bloggers internacionales</h3>
			<p>¿Te has fijado como cada fashion blogger en el mundo tiene un tipo de peinado distintivo? <%= link_to "Aquí puedes ver a las más famosas", "http://mypreciousconfessions.blogspot.mx/2011/11/top-10-fashion-blogger-hairdos.html", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Posts', 'tres']);"%>, incluso a nuestra querida Mexicana Andy Torres de <%= link_to "@stylescrapbook", "https://twitter.com/stylescrapbook", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Posts', 'tres_andy_blogger']);" %>.</p>
			<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fsoxialit.com%2Fmicroposts%2F402&amp;send=false&amp;layout=box_count&amp;width=100&amp;show_faces=false&amp;font=verdana&amp;colorscheme=light&amp;action=like&amp;height=90&amp;appId=235628993153454" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:90px;" allowTransparency="true"></iframe>
		</div>
	</div>
	<br/ ><br/ >
	<div class="row">
		<div class="span4">
			<%= image_tag "cuatro.jpg" %>
		</div>
		<div class="span4">
			<h3>Let me be your teddy bear</h3>
			<p>¿Crees que sólo estarían de moda los estampados de gatos? También los teddy bears, ya los he visto en zapatos como los de Charlotte Olympia, ahora aquí gracias a Alix de Cherry Blossom Girl <%= link_to "podemos ver un vestido precioso con ositos azules de Vivetta", "http://www.thecherryblossomgirl.com/let-me-be-your-teddy-bear/23964/", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Posts', 'cuatro']);" %>.</p>
			<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fsoxialit.com%2Fmicroposts%2F403&amp;send=false&amp;layout=box_count&amp;width=100&amp;show_faces=false&amp;font=verdana&amp;colorscheme=light&amp;action=like&amp;height=90&amp;appId=235628993153454" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:90px;" allowTransparency="true"></iframe>
		</div>
	</div>
	<br/ ><br/ >
	<div class="row">
		<div class="span4">
			<%= image_tag "cinco.jpg" %>
		</div>
		<div class="span4">
			<h3>Kate Spade SS2013</h3>
			<p>¿Ya vieron <%= link_to "la colección para esta primavera-verano de Kate Spade", "http://www.ohmydior.org/2013/02/what-girl-wants-kate-spade-ss2013.html", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Posts', 'cinco']);" %>? ¡Todo esta increíble muy girly, muy retro y mucho color pastel! La verdad es que todo lo que hacen es irresistible para nosotras las mujeres.</p>
			<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fsoxialit.com%2Fmicroposts%2F404&amp;send=false&amp;layout=box_count&amp;width=100&amp;show_faces=false&amp;font=verdana&amp;colorscheme=light&amp;action=like&amp;height=90&amp;appId=235628993153454" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:90px;" allowTransparency="true"></iframe>
		</div>
	</div>
	<br/ ><br/ >
	<div class="row">
		<div class="span4">
			<%= image_tag "seis.jpg" %>
		</div>
		<div class="span4">
			<h3>DOLCE & GABANNA Fall 2013</h3>
			<p>¿Se acuerdan que en mi blog les hable de que vendría lo barroco para el 2013? Tienen que ver esta <%= link_to "colección de Dolce & Gabanna", "http://aldonzalovely.blogspot.nl/2013/02/dolce-gabanna-fall-2013.html", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Posts', 'seis']);" %>, el encaje y las flores de la ropa de tu abuelita nunca habían sido tan sexys. Este tipo de tendencia me encanta sobre todo en joyería y adornos para la cabeza, podemos hasta utilizar coronas.</p>
			<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fsoxialit.com%2Fmicroposts%2F405&amp;send=false&amp;layout=box_count&amp;width=100&amp;show_faces=false&amp;font=verdana&amp;colorscheme=light&amp;action=like&amp;height=90&amp;appId=235628993153454" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:90px;" allowTransparency="true"></iframe>
		</div>
	</div>
	<br/ ><br/ >
	<div class="row">
		<div class="span4">
			<%= image_tag "siete.png" %>
		</div>
		<div class="span4">
			<h3>Christian Dior Fall 2013</h3>
			<p>Raf Simon decidió inspirarse en Andy Warhol para <%= link_to "la colección de Christian Dior 2013", "http://www.fashionologie.com/Christian-Dior-Runway-Review-Fashion-Week-Fall-2013-28303122", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Posts', 'siete']);" %> ¿les gusta? ¿o siguen prefiriendo el estilo de John Galliano?</p>
			<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fsoxialit.com%2Fmicroposts%2F406&amp;send=false&amp;layout=box_count&amp;width=100&amp;show_faces=false&amp;font=verdana&amp;colorscheme=light&amp;action=like&amp;height=90&amp;appId=235628993153454" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:90px;" allowTransparency="true"></iframe>
		</div>
	</div>
</div>
<br/><br/>
<script type="text/javascript">mixpanel.track("Las 7 de Pauline")</script>