<div id="newsletter">
	<div class="row">
		<div class="span8">
			<%= image_tag "pauline.jpg" %>
		</div>
		<div class="span3">
			<br />
			<p>Blog: <%= link_to "ohmydior.org", "http://www.ohmydior.org/", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Pauline', 'blog']);" %></p>
			<p>Twitter: <%= link_to "@MissOhmyDior", "https://twitter.com/MissOhmyDior", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Pauline', 'twitter']);" %></p>
			<p>Soxialit: <%= link_to "missohmydior", "https://soxialit.com/ohmydior", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Pauline', 'soxialit']);" %></p>
			<br />
			<p><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsoxialit.com%2Flas7depauline&amp;send=false&amp;layout=box_count&amp;width=100&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=65&amp;appId=448646455210010" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:65px;" allowTransparency="true"></iframe>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<p style="font-size:1.4em">Soy Pauline y cada semana te traeré las 7 mejores historias del mundo de la moda que no te puedes perder.
			</p>
			<hr />
		</div>
	</div>
	<div id="newsletters"><%= render 'newsletters'%></div>
</div>
<br/><br/>

<script type="text/javascript">

mixpanel.track("Las 7 de Pauline")
if (history && history.pushState) {

	$(function(){
		$('#newsletters').find('a').live('click', function(){
			$.getScript(this.href);
			history.pushState(null, "", this.href);
		   	return false;
		});
		$(window).bind("popstate", function () {
		    $.getScript(location.href);
		  });
	});
}

$(function(){
  $('#index_pauline').css('color', 'red');
  $('#index_pauline').css('border-bottom', '1px solid red');
});

</script>