<div id="newsletter">
	<div class="row">
		<div class="span8">
			<%= image_tag "pauline.jpg" %>
		</div>
		<div class="span3 offset1">
			<br />
			<p>Compártelo con tus amigos:</p>
			<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fsoxialit.com%2Flas7depauline&amp;send=false&amp;layout=box_count&amp;width=100&amp;show_faces=true&amp;font=verdana&amp;colorscheme=light&amp;action=like&amp;height=90&amp;appId=200330006764703" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:90px;" allowTransparency="true"></iframe>
			<br />
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://soxialit.com/las7depauline" data-text="Las 7 de Pauline en @Soxialit: &quot;7 historias del mundo de la moda que no te puedes perder&quot;" data-via="MissOhmyDior" data-size="large">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<br />
			<p style="font-size:1.4em">Soy Pauline y cada semana te traeré las 7 mejores historias del mundo de la moda que no te puedes perder. Aquí siempre verás lo más novedoso así como muchas noticias de inspiración. Sígueme en Twitter: <%= link_to "@MissOhmyDior", "https://twitter.com/MissOhmyDior", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Pauline', 'twitter']);" %>, en Soxialit <%= link_to "missohmydior", "https://soxialit.com/ohmydior", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Pauline', 'soxialit']);" %> y encuéntrame en mi blog <%= link_to "ohmydior.org", "http://www.ohmydior.org/", target: '_blank', :onmousedown => "_gaq.push(['_trackEvent', 'Newsletter', 'Pauline', 'blog']);" %>.
			</p>
			<hr />
		</div>
	</div>
	<div id="newsletters"><%= render 'newsletters'%></div>
</div>
<br/><br/>

<script type="text/javascript">

mixpanel.track("Las 7 de Pauline")
if (history && history.pushState) {

	$(function(){
		$('#newsletters').find('a').live('click', function(){
			$.getScript(this.href);
			history.pushState(null, "", this.href);
		   	return false;
		});
		$(window).bind("popstate", function () {
		    $.getScript(location.href);
		  });
	});
}


</script>