<div class="row-fluid">
  <div class="span4" id="about_menu" style="width:29%; margin-left:0px; padding-top:60px; border-right: 1px solid rgba(0, 0, 0, 0.0976563)">
  	<%= image_tag "eileen.png" %>
  	<p style="font-family:acta-display; text-align:center; margin-top:0.5em; font-size:2em">Elieen Garcia Accesorios</p>
  	<p style="font-family:nimbus-sans; text-align:center; font-weight:lighter; font-size:1.2em">Boutique Store</p>
  	<br/ >
  </div>
  <div class="span10">
    <div style="margin-left:33%; width:60%; padding:2em">
      <p id="test_menu"><%= link_to "Items", items_path, remote: true %> | <%= link_to "Bio", biografia_path, remote: true %>
      	<span style="float:right; font-family:Lobster"><%= link_to "Soxialit", root_url %></span>
      </p>
      <hr />
      <div id="ajax">
      	<div class="frame_item_designers">
			<div class="designer_photos">
				<%= image_tag "bolsa1_6_morado.jpg" %>
			</div>
			<div class="designer_info">
			  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Abrigo de Piel</p>
				<p style="font-size:1.2em; font-family:acta-display; text-align:center">$1800</p>
			</div>
		  </div>
		  <div class="frame_item_designers">
			<div class="designer_photos">
				<%= image_tag "bolsa2_7_morado_verde.jpg" %>
			</div>
			<div class="designer_info">
			  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Clutch Github</p>
				<p style="font-size:1.2em; font-family:acta-display; text-align:center">$650</p>
			</div>
		  </div>
		  <div class="frame_item_designers">
			<div class="designer_photos">
				<%= image_tag "bolsa3_5_beige.jpg" %>
			</div>
			<div class="designer_info">
			  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Falda Estampada</p>
				<p style="font-size:1.2em; font-family:acta-display; text-align:center">$850</p>
			</div>
		  </div>
		  <div class="frame_item_designers">
			<div class="designer_photos">
				<%= image_tag "bolsa4_4_rojo.jpg" %>
			</div>
			<div class="designer_info">
			  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Bolsa estampada</p>
				<p style="font-size:1.2em; font-family:acta-display; text-align:center">$500</p>
			</div>
		  </div>
		  <div class="frame_item_designers">
			<div class="designer_photos">
				<%= image_tag "bolsa5_7_blanco_verde.jpg" %>
			</div>
			<div class="designer_info">
			  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">T-Shirt Yak</p>
				<p style="font-size:1.2em; font-family:acta-display; text-align:center">$450</p>
			</div>
		  </div>
		  <div class="frame_item_designers">
			<div class="designer_photos">
				<%= image_tag "maletin1_5_negro.jpg" %>
			</div>
			<div class="designer_info">
			  	<p style="font-size:1.2em; font-family:acta-display; text-align:center">Sandalias de piel</p>
				<p style="font-size:1.2em; font-family:acta-display; text-align:center">$650</p>
			</div>
		  </div>
		  <br />
		  
	  	</div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){

	$('#profile_nav_botton').css({ boxShadow: '1px 3px 6px #444' });
});
	
$('.frame_item_designers').live({
	mouseenter: 
	function(e){
		$(this).css("box-shadow", "0px 1px 1px 3px #d0d0d0");
		
	},
	mouseleave:
	function (e){
		e.preventDefault();
		$(this).css("box-shadow", "none");
	}
});	
</script>