<% if @direction.product_id.nil? %>
	<p>¡Datos actualizados!</p>
<% else %>
	<%= form_for @product, url: envio_df_product_path(@product), remote: true do |f| %>
		   <% if @product.ship_df.nil? %>
			<% else %>
				<div><td><%= radio_button_tag 'envio', @product.ship_df, :class => 'Envío dentro DF' %><span id="envio_df"> Envío dentro DF </span>- $<%= @product.ship_df %> </td></div>
			<% end %>
			<% if @product.ship_int.nil? %>
			<% else %>
				<div><td><%= radio_button_tag 'envio', @product.ship_int, :class => 'Envío al interior del país' %><span id="envio_interior"> Envío interior del país </span>- $<%= @product.ship_int %></td></div>
			<% end %>
			<% if @tarifas.nil? && @dias.nil? %>
			<% else %>
			<br/>
			<tbody>
				<% if @tarifas.any? %>
					<%= image_tag('logoestafeta.jpg')%>
				<% end %>
				<tr>
					<% @dias.zip(@tarifas).each do |dia, tarifa| %>
						<div>
							<input type="radio" name="envio" id='Estafeta <%= dia %>' class="estafeta" value='<%= tarifa %>' unchecked> <%= dia %> - $ <%= tarifa %></input>
						</div>
					<% end %>
				</tr>
			</tbody>
			<% end %>
			<%= f.text_field :shipping, :class => "span2", :style => "display: none" %>
			<%= f.fields_for :ships do |builder| %>
				<%= builder.text_field :ship_name, :style => "display:none" %>
				<%= builder.text_field :ship_selected, :style => "display:none" %>
			<% end %>
			<br/>
			<div style="margin-top:-4%" class="span1">
				<%= f.submit "Elegir", class: "btn" %>
			</div>
		<% end %>
<% end %>