<div style="margin-right: auto; margin-left: auto;width: 540px; display: table; content: ""; line-height: 0; font-size: 14px; line-height: 20px; color: #333; font-family: nimbus-sans, Helvetica Neue, Helvetica, Sans-Serif;">
	<div style="width: 500px; float: left;margin-left: 20px; display: block;font-size: 14px;line-height: 20px; color: #333333;">
		<div style="margin-left:28%">
			<img src="http://i1246.photobucket.com/albums/gg616/soxialit/soxialit_logo_zps7eb2aaa1.png" border="0" alt=" photo soxialit_logo_zps7eb2aaa1.png"/>
		</div>
		<div style="margin-left:35%"><h1><strong>¡Hey <%= link_to @user.username, user_url(@user.username), style: "text-decoration:none; color:#d93e38" %>!</strong></h1></div>
		<div style="margin-left:25%"><p>Tienes un nuevo seguidor en Soxialit.</p></div>
		<hr>
		<% if !@user_following.picture.present? %>
			<%= link_to image_tag("http://graph.facebook.com/#{@user_following.uid}/picture?type=normal"), user_url(@user_following.username) %>
		<% else %>
		    <%= link_to image_tag(@user_following.picture_url(:profile)), user_url(@user_following.username) %>
		<% end %>
		<p><%= link_to @user_following.username, user_url(@user_following.username), style: "text-decoration:none; color:#d93e38" %> - <%= @user_following.roles.first.name %></p>
		<p style="display: block;
		max-height: 35px;	
		overflow: hidden;
		color:#999;
		font-size:1em;
		font-weight:lighter;
		padding-top: 6px;
		margin-top: 3%;
		margin-bottom: 2%;
		font-family: nimbus-sans, Helvetica-Neue, Helvetica, Arial, Sans-serif;">
		<%= @user_following.bio %></p>
		<p>Followers: <%= @user_following.followers.count %> | Following: <%= @user_following.followed_users.count %></p>
		<hr>
		<div style="display: block;
		margin: 12px 0 5px;
		color: #93999E;
		font-size: 0.9em;
		line-height: 0.8em;
		padding: 0.5%;"> Soxialit - La red social para fashion designers, bloggers, fotógrafos y boutique stores </div>
		<div style="color:#999;">http://soxialit.com</div>
		<br/>
		<hr>
	</div>
</div>



