<div style="margin-right: auto; margin-left: auto;width: 540px; display: table; content: ""; line-height: 0; font-size: 14px; line-height: 20px; color: #333; font-family: nimbus-sans, Helvetica Neue, Helvetica, Sans-Serif;">
	<div style="width: 500px; float: left;margin-left: 20px; display: block;font-size: 14px;line-height: 20px; color: #333333;">
		<div style="margin-left:28%">
			<a href="http://s1246.beta.photobucket.com/user/soxialit/media/soxialit_logo_zps7eb2aaa1.png.html" target="_blank"><img src="http://i1246.photobucket.com/albums/gg616/soxialit/soxialit_logo_zps7eb2aaa1.png" border="0" alt=" photo soxialit_logo_zps7eb2aaa1.png"/></a>		
		</div>
		<div style="margin-left:35%"><h1><strong>¡Hey <%= link_to @user.username, user_url(@user.username), style: "text-decoration:none; color:#d93e38" %>!</strong></h1></div>
		<hr>
		<p>Ha <%= link_to @user_following.username, user_url(@user.username), style: "text-decoration:none; color:#d93e38" %> le gusta tu item: <strong><%= link_to @product.title, product_url(@product), style: "color: #bbb; font-weight: lighter; text-decoration:none;" %></strong></p>
		<%= image_tag (@product.picture)%>
		<p>Likes: <%= @product.reputation_value_for(:votes).to_i %>
		<hr>
		<div style="display: block;
		margin: 12px 0 5px;
		color: #93999E;
		font-size: 0.9em;
		line-height: 0.8em;
		padding: 0.5%;"> Soxialit - La red social para fashion designers, bloggers, fotógrafos y boutique stores </div>
		<div style="color:#999;">http://soxialit.com</div>
		<br/>
		<hr>
	</div>
</div>



