<%= form_for(@comment, remote: true) do |f| %>
	<ul class="comments" id="comment_product_<%=feed_item.activitable.id %>">
	</ul>
	<ul class="comments_new" >
	    	<li>
				<%= render 'shared/error_messages', object: f.object %>
					<span class="comment_avatar">
					  	<% if !current_user.picture.present? %>
							<%= image_tag("http://graph.facebook.com/#{current_user.uid}/picture?type=square", 
										width: 35, height: 35, :id =>  "nickname_small_picture") %>
						<% else %>
							<%= image_tag(current_user.picture_url(:thumb_profile), width: 35, 
									:id => "nickname_small_picture") %>
						<% end %>
					</span>
					<div class="field">
					    <%= f.text_area :body, rows: "1", :class => "span7", :placeholder => "Agrega un comentario..." %>
					</div>
					  	<%= f.hidden_field :commentable_id, :value => feed_item.activitable.id %>
					  	<%= f.hidden_field :commentable_type, :value => feed_item.activitable_type %>
	        </li>
	</ul>
		<div style="margin:1% 10% 1% 1%; text-align:right">	
			<%= f.submit "Comentar", class: "button-comment" %>
		</div>
<% end %>