<div id="intro">
  <p style="text-align:right;"><image style="width:50px; padding:1em 3em 0em 1em" src="https://si0.twimg.com/profile_images/3096522952/c9d763e215026f263c4183008a4c2dd1.png" /></p>
  <p style="text-align:right; padding-right:2em">Spring-2013 <br /> Application</p>
  <div class="container">
    <div class="row">
      <div class="span12">
  	    <p id="brand">Soxialit</p>
  	  </div>
    </div>
    <div class="row">
      <div class="span10 offset1">
 		<p id="subtitle">Revolutionazing the way people discover, share and buy <span style="color:">fashion</span> online in Mexico and Latinamerica.</p>
  	  </div>
    </div>
  </div>
</div>
<div id="problem">
  <div class="container">
    <div class="row">
      <div class="span3">
  	    <p id="problem_title">Problem</p><br />
  	  </div>
    </div>
    <div class="row">
      <div class="span3">
      	<p id="problem_description">
      		Fashion discovery & share in Mexico is almost limited to generic services.<br />
      		<b>Online fashion shopping</b> is not an easy task either:<br /> - <b>sellers:</b> <span id="ud">driving traffic</span> to their own websites is expensive and time consuming; using non-targeted-fashion or <span id="ud">broad platforms</span> reduces the chances of closing a sale.<br /> - <b>buyers:</b> the current solutions selling fashion are based on a <span id="ud">classic approach</span> (i.e. Amazon), not on a social commerce or a <i>taste-driven</i> one.
      	</p>
  	  </div>
  	  <div class="span9">
  	  	<span id="problem_image"><%= image_tag "problem.png" %></span>
  	  </div>
    </div>
  </div>
</div>
<div id="solution">
  <div class="container">
    <div class="row">
      <div class="span3">
  	    <p id="problem_title">Solution</p><br />
  	  </div>
    </div>
    <div class="row">
      <div class="span3">
      	<p id="solution_description">
      		Soxialit solves the problem of online fashion shopping by bringing together <i>fashion lovers</i> that are more likely to share, buy and become a tight community the sellers need to be reached and close a sale; it improves the linear way of buying fashion through a catered feed based on the buyers taste.</p>
      	<p id="solution_description" style="font-size:1em; margin-top:4em">
      		* The actions performed depend on the profile selected (e.g. a boutique store can sell online and a blogger is able to synchronize its personal blog with her Soxialit account.)
      	</p>
      	<p id="solution_description" style="font-size:1em; margin-top:2em">
      		** These profiles are five of the fundamental building blocks of the fashion industry. The one named <span id="ud">fashion lover</span> is the one related to the mainstream consumer.
      	</p>	
  	  </div>
  	  <div class="span9">
  	  	<span id="problem_image"><%= image_tag "solution_700.png" %></span>
  	  </div>
    </div>
  </div>
</div>
<div id="market">
  <div class="container">
    <div class="row">
      <div class="span3">
  	    <p id="problem_title">Market</p><br />
  	  </div>
    </div>
    <div class="row">
      <div class="span3">
      	<p id="problem_description">
      		During the last five years, the ecommerce in Mexico has been growing at a 19 percent growth rate. According to AMIPCI, a Mexican Internet association, from the overall mix of products and services sold online, <span style="ud">clothes and accesories </span> are among the top five.
      		Last year, an estimated of 105 Mi USD were spent on this category by 18-35 years old mexican women.<br /><br />Similar to Andrea, there is a cluster of Mexican women, who spend a considerable amount of time consuming, sharing content and buying over the Internet.<br /><br />
      		There are several competitors tackling the ecommerce problem in Mexico; nevertheless, most of them concentrate their efforts on broad categories, which opens up a space for a solution focused on the fashion market.
      	</p>
  	  </div>
  	  <div class="span9">
  	  	<span id="problem_image"><%= image_tag "market.png" %></span>
  	  </div>
    </div>
  </div>
</div>
<div id="differentiation" style="height:1150px;">
  <div class="container">
    <div class="row">
      <div class="span3">
  	    <p id="problem_title">Differentiation</p><br />
  	  </div>
    </div>
    <div class="row">
      <div class="span3">
      	<p id="solution_description">
      		Along six months we have understood better both the fashion market and the ecommerce in Mexico. We are aware of
      		some key difficulties experienced by sellers: poor fashion-driven interfaces, logistic handling or lack of good pictures to promote their items, and also by buyers: the lack of relevant products targeted to their tastes.<br /><br /> To our surprise, most of the potential sellers we met have never sold online, which highlights the problem of educating them about ecommerce. Besides, the most common request (sometimes more than increasing their sales) is <span id="ud">the need of being acknowledged</span> for their work, in other words: the possibility that what they do everyday for living reaches a bigger audience.<br  /><br />
      	</p>
      </div>
  	  <div class="span9">
  	  	<span id="solution_image"><%= image_tag "differentiation.png" %></span>
  	  </div>
    </div>
  </div>
</div>
<div id="team">
  <div class="container">
    <div class="row">
      <div class="span3">
  	    <p id="problem_title">Team</p><br />
  	  </div>
    </div>
    <div class="row">
      <div class="span3">
      	<p id="problem_description">
      		A couple of weeks after launching the first version (<i>February</i>), Liza, Pauline and Ana have helped us not only to improve our work but also to realize we are tackling one of the most competitive and hierarchical industries
      		ruled by a small set of incumbents.<br /><br />
      		We have started recruiting volunteers that we define as fashion-driven people that understand fashion better than we do and who can help us to nurture the community. Besides, everyday is more clear to us how hard is to operate the ecommerce in Mexico and we are committed to add another cofounder focused on the logistic issues and one more in charge of the fashion experience.
      	</p>
  	  </div>
  	  <div class="span9">
  	  	<span id="problem_image"><%= image_tag "team_500.png" %></span>
  	  </div>
    </div>
  </div>
</div>
<div id="sofar">
  <div class="container">
    <div class="row">
      <div class="span12">
  	    <p id="problem_title">What we have done so far</p><br />
  	  </div>
    </div>
    <div class="row">
      <div class="span3">
      	<p id="solution_description">
      		Everyday we realize doing a startup is harder than the day before; nevertheless, that same day we are twice more committed to achieve our goal.
      	</p>
      </div>
  	  <div class="span9">
  	  	<p id="sofar_description">
  	  		Learn to code: six months ago we had no idea about CSS, Ruby on Rails or any other service to create and deploy an app.
  	  	</p>
  	  	<p id="sofar_description">
  	  		Launch a first version of Soxialit on February 8th ( 750 miniposts shared, 350 registered users, 5% active users with no marketing effort apart from random tweets).
  	  	</p>
  	  	<p id="sofar_description">
  	  		Understand it is not about extracting the vaule of an industry but about expanding and creating more value for that industry.
  	  	</p>
  	  	<p id="sofar_description">
  	  		Fight several times, sometimes due to small issues, other times due to big ones, but we have managed to solve the disagreements and keep ahead.
  	  	</p>
  	  	<p id="sofar_description">
  	  		Be aware that one thing is building an app and translating that app into an startup - and eventually into a company - is something totally different that requires years of daily work.
  	  	</p>
  	  	<p id="sofar_description">
  	  		Understand that a startup is more about building a team rather than building a product.
  	  	</p>
  	  </div>
    </div>
  </div>
</div>
<div id="money">
  <div class="container">
    <div class="row">
      <div class="span3">
  	    <p id="problem_title">Money</p><br />
  	  </div>
    </div>
    <div class="row">
      <div class="span3">
      	<p id="problem_description">
      		How to spend the 25K during the program and avoid dying because of burning out of cash.
      	</p>
  	  </div>
  	  <div class="span9">
  	  	<span id="problem_image"><%= image_tag "money.png" %></span>
  	  </div>
    </div>
  </div>
</div>
<div id="end">
  <div class="container">
    <div class="row">
      <div class="span12">
  	    <p >We are not rockstars, we are just simple guys who care about building things that can improve the life of millions of people.</p>
  	    <a style="font-size:0.5em; color:#BBB" href="http://soxialit.com" >soxialit</a>
  	  </div>
    </div>
  </div>
</div>