<div id="about_body">
  <h2>Guía de Fotos: ¡haz que tus items luzcan excelentes!</h2>
  <div class="row">
	  <div id="sell_designer">
	  	<span class="span10 offset1">
	  		<p style="font-size:1.4em">Las fotos son tu carta de presentación, por ello hemos elaborado una pequeña guía que te ayudará a obtener mejores fotografías en segundos.</p><br />
	  		<p style="font-size:1em; background-color:#555;  color:whiteSmoke; font-weight:lighter">* Para que tu producto sea APROBADO al menos UNA de las fotografías debe tener fondo color blanco o claro, esa será la Foto de Portada.
	  		</p>
	  	</span>
	  </div>
  </div><br />
  <div class="row">
  	<span class="span11 offset1">
  		<p>Fotos con fondo blanco:</p>
  		<p><%= image_tag('good3.jpg', :width => "180") %> <%= image_tag('good3.jpg', :width => "180") %> 
  			<%= image_tag('good3.jpg', :width => "180") %></p>
  	</span>
  </div>
  <div class="row">
  	<span class="span11 offset1">
  		<p>Fotos sin fondo blanco:</p>
  		<p><%= image_tag('wrong1.jpg', :width => "180") %>  <%= image_tag('wrong2.jpg', :width => "180") %>  
  			<%= image_tag('wrong3.jpg', :width => "180") %></p>
  	</span>
  </div>
</div>