<div id="about_body">
  <h2>Guía de Fotos: ¡haz que tus ítems luzcan excelentes!</h2>
  <div class="row">
	  <div id="sell_designer">
	  	<span class="span10 offset1">
	  		<p style="font-size:1.7em; line-height:1.3em">Las fotos son tu carta de presentación, por ello hemos elaborado una pequeña guía que te ayudará a obtener mejores fotografías en minutos.</p><br />
	  		<p style="font-size:1em; background-color:black; padding:2%; color:whiteSmoke; font-weight:lighter">* Para que tu producto sea APROBADO y se pueda vender, AL MENOS UNA de las fotografías debe tener fondo color blanco o claro, esa será la Foto de Portada.
	  		</p>
	  	</span>
	  </div>
  </div><hr />
  <div class="row">
  	<span class="span11 offset1">
  		<p style="font-size:1.6em">Fotos con fondo blanco o claro:</p>
  		<p><%= image_tag('good5.jpg', :width => "150") %> <%= image_tag('good1.jpg', :width => "150") %> 
  			<%= image_tag('good6.jpg', :width => "150") %> <%= image_tag('good4.jpg', :width => "150") %></p>
  	</span>
  </div>
  <div class="row">
  	<span class="span11 offset1">
  		<p style="font-size:1.6em">Fotos sin fondo blanco o claro:</p>
  		<p><%= image_tag('wrong1.jpg', :width => "150") %>  <%= image_tag('wrong2.jpg', :width => "150") %>  
  			<%= image_tag('wrong3.jpg', :width => "150") %> <%= image_tag('wrong5.jpg', :width => "150") %></p>
  	</span>
  </div><br />
  <div class="row">
  	<span class="span11 offset1">
  		<p style="font-size:1.6em; line-height:1.2em">Un fondo color blanco o claro:
        <br/><br />
  			- <span style="color:black; font-weight:500">evita que la atención se pierda en detalles externos.</span><br/>
  			- resalta la calidad de tu ítem, prenda o accesorio.<br/>
  			- <span style="color:black; font-weight:500">incrementa las posibilidades de compra.</span>
  		</p>
  	</span>
  </div><hr /> 
  <h3>Mejora tus fotos al instante</h3>
  <div class="row">
  	<span class="span2 offset1">
  		<h2 style="text-align:center">1</h2>
  	</span>
  	<span class="span8">
  		<p style="font-size:1.4em">Luz: debe existir suficiente luz, puede ser luz natural o luz de alguna lámpara o reflector.</p>
  		<hr />
  	</span>
  </div>
  <div class="row">
  	<span class="span11 offset1">
  		<p><%= image_tag('ligth1.jpg', :width => "250") %> <%= image_tag('ligth2.jpg', :width => "250") %></p>
  	</span>
  </div><br />
  <div class="row">
  	<span class="span2 offset1">
  		<h2 style="text-align:center">2</h2>
  	</span>
  	<span class="span8">
  		<p style="font-size:1.4em">Coloca tu prenda sobre aluminio, alguna hoja de papel o cartulina blanca. Si usas luz natural haz 'rebotar' la luz contra tu fondo blanco.<br/><br />Aún sin una cámara profesional, las fotos de tu iPhone, Tablet o Cámara Digital se verán beneficiadas con estas sencillas técnicas.</p><hr />
  	</span>
  </div>
  <div class="row">
  	<span class="span11 offset1">
  		<p><%= image_tag('hack1.jpg', :width => "220") %> <%= image_tag('hack2.jpg', :width => "220") %> 
  			<%= image_tag('hack3.jpg', :width => "220") %></p>
  	</span>
  </div>
    <h3>Lightbox</h3>
  <div class="row">
    <span class="span11 offset1">
      <p style="font-size:1.4em">Una Lightbox le dará a tus fotografías un toque profesional. Los siguientes vídeo muestran como crear y usar tu propia Lightbox:</p>
      <p style="text-align:center"><iframe width="580" height="320" src="https://www.youtube.com/embed/z1bAh193Iwc" frameborder="0" allowfullscreen></iframe></p>
      <p style="text-align:center"><iframe width="580" height="320" src="https://www.youtube.com/embed/WoyszgrcINg" frameborder="0" allowfullscreen></iframe></p>
    </span>
  </div>
  <h3>Photoshop</h3>
  <div class="row">
  	<span class="span11 offset1">
  		<p style="font-size:1.4em">Si <i>no sabes usar Photoshop</i> y quieres editar el fondo de tus fotografías, 
  			usar las técnicas descritas anteriormente será más sencillo y rápido. Pero como sabemos que harás un intento compartimos el siguiente vídeo contigo:</p>
      <p style="text-align:center"><iframe width="580" height="320" src="https://www.youtube.com/embed/UJu83On4Xwo" frameborder="0" allowfullscreen></iframe></p>
  	</span>
  </div>
</div>