<div id="about_body">
  <div class="row">
    <span class="span11 offset1">
    	<p style="font-size:1.8em; font-family:acta-display; line-height:1.5em; color:#555">Hola, nosotros estamos detrás de Soxialit.</p>
    	<hr />
    </span>
  </div>
  <div class="row">
    <span class="span3 offset1">
      <%= image_tag "julio.jpg" %>
    </span>
    <span class="span6">
      <p style="font-size:1.2em; line-height:1.5em; color:#333"><span style="font-weight:600; ">Julio</span> - Frontend Developer & Cofundador</p>
      <p style="font-size:1.1em; line-height:1.5em; color:#555">Graduado de Ingeniería, Julio se encarga de implementar la interfaz de Soxialit, integrar el ecommerce y algunos servicios externos con los que Soxialit está conectado: Facebook, PayPal y Mercado Pago entre otros.</p>
      <a style="font-size:1em; line-height:1.5em; color:#08c" href="https://soxialit.com/julio" target="_blank">Soxialit</a> | 
      <a style="font-size:1em; line-height:1.5em; color:#08c" href="https://twitter.com/JulioAhuactzin" target="_blank">Twitter</a>
    </span>
  </div><br />
  <div class="row">
    <span class="span3 offset1">
      <%= image_tag "gabriel.jpg" %>
    </span>
    <span class="span6">
      <p style="font-size:1.2em; line-height:1.5em; color:#333"><span style="font-weight:600; ">Gabriel</span> - Product Manager & Cofundador</p>
      <p style="font-size:1.1em; line-height:1.5em; color:#555">Antes de unirse a Soxialit, Gabriel estudió Ingeniería y Negocios. Se encarga de definir la estrategia de Soxialit, así como de desarrollar el backend de la aplicación. Su pasión: los negocios relacionados con Internet.</p>
      <a style="font-size:1em; line-height:1.5em; color:#08c" href="https://soxialit.com/gabriel" target="_blank">Soxialit</a> | 
      <a style="font-size:1em; line-height:1.5em; color:#08c" href="https://twitter.com/JGabrielIslas" target="_blank">Twitter</a> | 
      <a style="font-size:1em; line-height:1.5em; color:#08c" href="http://jgislas.tumblr.com/" target="_blank">Blog</a>
    </span>
  </div><br />
  <div class="row">
    <span class="span3 offset1">
      <%= image_tag "liza.jpg" %>
    </span>
    <span class="span6">
      <p style="font-size:1.2em; line-height:1.5em; color:#333"><span style="font-weight:600; ">Liza</span> - Marketing Digital</p>
      <p style="font-size:1.1em; line-height:1.5em; color:#555">Una apasionada de la sociología digital graduada en Marketing de Industria de la Moda y actualmente estudiante de Comunicación y Medios Digitales, Liza contribuye diseñando la experiencia, storytelling y marketing de la comunidad en Soxialit.</p>
      <a style="font-size:1em; line-height:1.5em; color:#08c" href="https://soxialit.com/tedeframbuesa" target="_blank">Soxialit</a> | 
      <a style="font-size:1em; line-height:1.5em; color:#08c" href="https://twitter.com/TedeFrambuesa" target="_blank">Twitter</a> | 
      <a style="font-size:1em; line-height:1.5em; color:#08c" href="http://www.behance.net/lizaduron" target="_blank">Behance</a>
    </span>
  </div><br />
  <div class="row">
    <span class="span3 offset1">
      <%= image_tag "pau.jpg" %>
    </span>
    <span class="span6">
      <p style="font-size:1.2em; line-height:1.5em; color:#333"><span style="font-weight:600; ">Pauline</span> - Fashion Expert</p>
      <p style="font-size:1.1em; line-height:1.5em; color:#555">Una de las fashion bloggers más populares de México,  estudió Diseño Textil y es una adicta a la moda desde hace tiempo. Pauline nos lleva cada semana siete historias de la moda que no te puedes perder en Soxialit.</p>
      <a style="font-size:1em; line-height:1.5em; color:#08c" href="https://soxialit.com/ohmydior" target="_blank">Soxialit</a> | 
      <a style="font-size:1em; line-height:1.5em; color:#08c" href="https://twitter.com/MissOhmyDior" target="_blank">Twitter</a> | 
      <a style="font-size:1em; line-height:1.5em; color:#08c" href="http://www.ohmydior.org/" target="_blank">Blog</a>
    </span>
  </div><br />
  <div class="row">
    <span class="span3 offset1">
      <%= image_tag "ana.jpg" %>
    </span>
    <span class="span6">
  	  <p style="font-size:1.2em; line-height:1.5em; color:#333"><span style="font-weight:600; ">Ana</span> - Eventos y Comunidad</p>
      <p style="font-size:1.1em; line-height:1.5em; color:#555">A su corta edad, Ana es toda una fashion lover. En 
       <a href="https://www.facebook.com/pages/ARVL/320255818072822" target="_blank">ARVL</a> comparte todos los días sus impresiones sobre el diseño de modas mexicano. En Soxialit, Ana se encarga de cubrir eventos vía Twitter y de hacer crecer la comunidad.</p>
      <a style="font-size:1em; line-height:1.5em; color:#08c" href="https://soxialit.com/anarosa" target="_blank">Soxialit</a> | 
      <a style="font-size:1em; line-height:1.5em; color:#08c" href="https://twitter.com/anarosavaladezl" target="_blank">Twitter</a>
    </span>
  </div><br />
</div>