  <li id="<%= story.id %>">
	<div class="row">
	  	<section style="position: absolute; margin-left: -4%; background-color: rgb(228,228,228); border-radius: 5px; padding: 10px;">
				<div class="haiku">
					<em>
						<% if story.user_id == current_user.id %>
						<div class="vote_story_<%= story.id %>">
						<%= pluralize story.reputation(story), "vote" %>
						</div>
						<% elsif story.has_evaluation?(:votes, current_user) %>
							<% case current_user.vote_evaluation(story, current_user.id) %>
							<% when 1 %>
							<div id="vote_up_<%= story.id %>" style="margin-left:-2px" class="vote_up_icon_active">
								
							</div>
							<div class="vote_micropost_<%= story.id %>">
							<%= pluralize story.reputation(story), "vote" %>
							</div>
							<div id="vote_down_<%= story.id %>" class="vote_down_icon">
								<%= link_to "xxx", vote_micropost_path(story, type: "down"), :remote => true, method: "post", class: "trick_anchor" %>
							</div>
							<% when 0 %>
							<div id="vote_up_<%= story.id %>" style="margin-left:-2px" class="vote_up_icon">
								<%= link_to "xxx", vote_micropost_path(story, type: "up"), :remote => true, method: "post", class: "trick_anchor" %>
							</div>
							<div class="vote_micropost_<%= story.id %>">
							<%= pluralize story.reputation(story), "vote" %>
							</div>
							<div id="vote_down_<%= story.id %>" class="vote_down_icon_active">
								
							</div>
							<% when -1 %>
							<div id="vote_up_<%= story.id %>" style="margin-left:-2px" class="vote_up_icon">
								<%= link_to "xxx", vote_micropost_path(story, type: "up"), :remote => true, method: "post", class: "trick_anchor" %>
							</div>
							<div class="vote_micropost_<%= story.id %>">
							<%= pluralize story.reputation(story), "vote" %>
							</div>
							<div id="vote_down_<%= story.id %>" class="vote_down_icon_active">
								
							</div>
							<% else %>
							<div id="vote_up_<%= story.id %>" style="margin-left:-2px" class="vote_up_icon">
								<%= link_to "xxx", vote_micropost_path(story, type: "up"), :remote => true, method: "post", class: "trick_anchor" %>
							</div>
							<div class="vote_micropost_<%= story.id %>">
								<%= pluralize story.reputation(story), "vote" %>
								
							</div>
							<div id="vote_down_<%= story.id %>" class="vote_down_icon"><%= link_to "xxx", vote_micropost_path(story, type: "down"), :remote => true, method: "post", class: "trick_anchor" %>
							</div>
							<% end %>	
					<% else %>
						<div id="vote_up_<%= story.id %>" style="margin-left:-2px" class="vote_up_icon">
								<%= link_to "xxx", vote_micropost_path(story, type: "up"), :remote => true, method: "post", class: "trick_anchor" %>
							</div>
							<div class="vote_micropost_<%= story.id %>">
								<%= pluralize story.reputation(story), "vote" %>
								
							</div>
							<div id="vote_down_<%= story.id %>" class="vote_down_icon"><%= link_to "xxx", vote_micropost_path(story, type: "down"), :remote => true, method: "post", class: "trick_anchor" %>
							</div>
					<% end %>
					</em>
				</div>
			</section>
	  <div class="span6">
	    <% if story.picture? %>
		  <%= link_to image_tag(story.picture_url, width:380), story.url, target: '_blank' %>
		<% else %>
		  <%= link_to image_tag(story.thumbnail), story.url, target: '_blank' %>
		<% end %>
	  </div>
	  <div class="span5">
	  	<span id="item_link_story" style="font-size:3em; line-height:1.2em"><%= link_to story.title,
											story.url, target: '_blank' %></span>
	  	<div class="timestamp" style="margin-top:1em">
	  	  <p><%= time_ago_in_words(story.created_at) %> by
	      <%= link_to story.user.nickname, user_path(story.user) %> 
	      </p>
	    </div>
	    <div id="group_story_menu">
	    	<p>
	    		<span id="">
	    		  <%= link_to "CONVERSACIONES", micropost_path(story) %>
	    		</span> | 
	    		<span id="">
	    		  <%= link_to "FAVORITOS", "" %>
	    		</span> | 
	    		<span id="">
	    		  <%= link_to "COMPARTIR", "" %>
	    		</span>
	    	</p>
	    </div>
	  	  </div>
	</div>
  </li>
  <br /><br />
 
	  
	 	    