  <li id="<%= story.id %>"> 
	<div class="row">
	  <div class="span1">
	  	<p>Votes</p>
	  </div>
	  <div class="span7">
	    <% if story.picture? %>
		  <%= link_to image_tag(story.picture_url, width:500), story.url, target: '_blank' %>
		<% else %>
		  <%= link_to image_tag(story.thumbnail), story.url, target: '_blank' %>
		<% end %>
	  </div>
	  <div class="span4">
	  	<span id="item_link_micropost" style="font-size:3em; line-height:1.2em"><%= link_to story.title,
											story.url, target: '_blank' %></span>
	  	<div class="timestamp" style="margin-top:1em">
	  	  <p><%= time_ago_in_words(story.created_at) %> by
	      <%= link_to story.user.nickname, user_path(story.user) %> 
	      </p>
	    </div>
	    <div id="group_story_menu">
	    	<p>
	    		<span id="">
	    		  <%= link_to "CONVERSACIONES", micropost_path(story) %>
	    		</span> | 
	    		<span id="">
	    		  <%= link_to "FAVORITOS", "" %>
	    		</span> | 
	    		<span id="">
	    		  <%= link_to "COMPARTIR", "" %>
	    		</span>
	    	</p>
	    </div>
	  	  </div>
	</div>
  </li>
  <br /><br />