<% provide(:title, @group.name) %>
<%= image_tag(@group.picture_url, :width => 900) if @group.picture.present? %>
<h2 style="font-family:acta-display"><%= @group.name %></h2>
<p style="color:#999; font-size:1.2em; font-weight:lighter"><%= @group.description %></p>
<%= render 'subscribe_form' if user_signed_in? %>
<br />
<br />
<p><span id=""><%= %><span></p>
<div id="ajax" style="float:left; position:fixed; display:none; margin: 10% 455px; z-index: 3000"><%= image_tag("ajax-loader.gif") %></div>
<div class="tabbable" style="margin-bottom: 18px;">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Todos</a></li>
    <li class=""><a href="#tab2" data-toggle="tab">Nuevos</a></li>
    <li class=""><a href="#tab3" data-toggle="tab">Top</a></li>
    <li class=""><a href="#tab4" data-toggle="tab">Trending</a></li>
  </ul>
  <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
    <div class="tab-pane active" id="tab1">
    	<%= render 'show_all' %>
    </div>
    <div class="tab-pane" id="tab2">
    	<%= render 'show_new' %>
    </div>
    <div class="tab-pane" id="tab3">
      <%= render 'show_top' %>
    </div>
     <div class="tab-pane" id="tab4">
      <%= render 'show_trend' %>
    </div>
    <hr />
    <h2 style="font-family:acta-display; text-align:center; margin:20ox;">Paulina Lopez Rainbow Fashion Week</h2>
    <iframe width="840" height="460" src="http://www.youtube.com/embed/gDUq4Txe5nY" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('#ajax')
    .hide()  // hide it initially.
    .ajaxStart(function() {
      $(this).show(); // show on any Ajax event.
    })
    .ajaxStop(function() {
      $(this).hide(); // hide it when it is done.
  });
});


$(function(){
    $('.square_link').live({
      mouseenter: 
      function(e){
        $(this).css("opacity", "0.7");
      },
      mouseleave:
      function (e){
        e.preventDefault();
        $(this).css("opacity", "1");
         // $(this).find('.collect_button').hide();
      }
    });
  
   $('.lista_link').live({
      mouseenter: 
      function(e){
        $(this).css("opacity", "0.7");
      },
      mouseleave:
      function (e){
        e.preventDefault();
        $(this).css("opacity", "1");
         // $(this).find('.collect_button').hide();
      }
    });
  });

</script>