  <% if !Micropost.evaluated_by(:lovs, @user).nil? %>
	<div id="contenedor" class="clearfix masonry" style="margin-left:-1%; width:870px">
  		<% Micropost.evaluated_by(:lovs, @user).each do |z| %>
		    <div class="box photo col3 masonry-brick" id = "test">
				<div class="frame_link_favorites">
					<div style="max-width: 270px; position:relative; text-align:center; height:auto; padding:5% 5% 5% 5%">
					  <%= link_to image_tag(find_micropost_image(z.id), style:"margin-left:5%; max-width: 90%; height:auto"), micropost_path(z.id), target: '_blank' %>
					  <p id="title_link_modal">
						<%= link_to truncate(find_micropost_title(z.id), :lenght => 35), find_micropost_url(z.id), target: '_blank' %>
					  </p>
					  <hr/ >
					  <div id="micropost_description" style="height:50px; width: 150px">
						<div style="float:left; width: auto; height: auto">
							<% if find_micropost_imagefile(z.id) == nil %>
								<%= link_to image_tag(find_micropost_userimage(z.id), style:"width:35px; margin-left:2%; margin-top:0", id: "like_small_picture"), user_path(find_micropost_userurl(z.id))%>
							<% else %>
								<%= link_to image_tag(find_micropost_imagefile(z.id), style:"width:35px; margin-left:2%; margin-top:0", id: "like_small_picture"), user_path(find_micropost_userurl(z.id))%>
							<% end %>
							<% if user_signed_in? %>
								<% unless current_user?(find_micropost(z.id).user) %>
									<div style="margin-top:0.5em" id="form_<%= find_micropost_userid(z.id) %>" %>
								  	<% if current_user.following?(find_micropost(z.id).user) %>
									<% else %>
									      <%= render :partial => 'shared/follow_favorites', :locals => { :user => find_micropost(z.id).user } %>
									<% end %>
									</div>
								<% end %>
							<% end %>
						</div>
						<div style="float:left; margin-left:3%">
							<span style="font-size:0.8em" id="item_link"><%= link_to truncate(find_micropost_nickname(z.id), :length => 15), user_path(find_micropost_userurl(z.id))%></span>
						</div>
					</div>
					<div style="float:right; margin-top: -20%">
					  <% if signed_in? %>
						<div style="margin-right:-2%;" class="votacion" id="votacion_<%= z.id %>">
					  	<% if find_micropost_userid(z.id) == current_user.id %>
							<div id="ajax-status" style="float: right; display:none; margin-left: 50%; width:20px">
								<%= image_tag("loading.gif") %>
							</div>
							<span id="want_<%= z.id %>">
								<div id="love_icon_<%= z.id %>" class="love_icon_active">
									<span style="float:left; display:block; margin-left:-50%; color:black" id="love_z.id_<%= z.id %>">
										<%= find_micropost(z.id).reputation_for(:lovs).to_i %>
									</span>
								</div>
						   	</span>
						<% elsif current_user && !current_user.voted_for?(find_micropost(z.id)) %>
							<div id="ajax-status" style="float: right; display:none; margin-left: 50%; width:20px">
								<%= image_tag("loading.gif") %>
							</div>
				        	<span id="want_<%= z.id  %>">
				        	<div id="love_icon_<%= z.id  %>" class="love_icon">
								<span style="float:left; display:block; margin-left:-50%; color:black" id="love_product_<%= z.id  %>">
				        			<%= find_micropost(z.id).reputation_for(:lovs).to_i %>
				        		</span>
				        		<%= link_to "x", lovs_micropost_path(find_micropost(z.id), type: "up"), :class =>"trick_anchor", :remote => true,  method: "post", id: "link" %>
				        	</div>
				         	</span>
						<% else %>
							<div id="ajax-status" style="float: right; display:none; margin-left: 50%; width:20px">
								<%= image_tag("loading.gif") %>
							</div>
				        	<span id="want_<%= z.id %>">
				        		<div id="love_icon_<%= z.id %>" class="love_icon_active">
									<span style="float:left; display:block; margin-left:-50%; color:black" id="love_product_<%= z.id %>">
				        				<%= find_micropost(z.id).reputation_for(:lovs).to_i %>
				        			</span>
				        		</div>
				       		</span>
						</div>
					</div>
				</div>
			<% end %>
		 </div>
	<% else %>
	<div class="container">
		<div class="row">
			<div style="margin-left:30%">
				<p class="description-brand" style="margin-left:4%; font-family:acta-display; font-size:1.8em"><%= link_to "Guarda tus items รณ posts favoritos", microposts_path %></p>
				<div style="margin-left:10%"><%= link_to image_tag('no_favorites.png'), microposts_path%></div>
			</div>	
		</div>
	</div>
<% end %>

<script type="text/javascript">

$('body').bind('ajaxComplete', function() {
    setTimeout(function(){
		var wall = new Masonry( document.getElementById('contenedor') );
		wall.reload();
	}, 2000);
	$('#ajax-loading').hide();
});


</script>