<% @products.each do |product| %>
	<div id="mis_items_frame">
		<div id="modal-id"></div>
	  	<div class="row" id="image_hover">
			<span style="margin-bottom:2%" class="span6" >
				<div style="float:right" id="mi_image">
				<%= link_to image_tag(product.picture), product_path(product) %>
			
				<% if signed_in? %>
					<div style="margin-right:-5%; margin-bottom: -8%" class="votacion" id="votacion_<%= product.id %>">
						<% if product.id == current_user.voted_by?(current_user.evaluations, product.id) %>
							<span id="want_<%= product.id %>">
								<div id="love_icon_<%= product.id %>" class="love_icon_active">
									<span style="float:left; display:block; margin-left:-50%; color:black" id="love_product_<%= product.id %>">
										<%= product.reputation_value_for(:votes).to_i %>
									</span>
								</div>
				   			</span>
							<% elsif current_user && !current_user.voted_for?(product) %>
								<span id="want_<%= product.id %>">
									<div id="love_icon_<%= product.id %>" class="love_icon">
										<span style="float:left; display:none; margin-left:-50%; color:black" id="love_product_<%= product.id %>">
											<%= product.reputation_value_for(:votes).to_i %>
										</span>
										<%= link_to "xxx", vote_product_path(product, type: "up"), :class =>"trick_anchor", :remote => true,  method: "post", id: "link" %>
									</div>
					   			</span>
							<% end %>
					</div>
				<% end %>
				</div>
			</span>
			<span class="span5">
			  <div class="right_side_items">
				<div id="mi_title">
					<%= link_to product.title, product_path(product) %>
				</div>
				<p>by <span id="mi_brand"><%= product.brand %></span></p>
				<p id="mi_description">"<%= product.description %>"</p>
				<div id="mi_view_more">
					<%= link_to "Ver Detalles", product_path(product) %> 
				</div>
				<p id="mi_price">$<%= product.price %>0
					<span style="margin-left:2%"><%= link_to "Comprar", comprar_path(:product_id => product.id), {:id => "modal", :rel => "tab", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true, :class => 'button-want'} %>
					</span>
				</p>
				<span class="edit_delete_links">
				  <% if current_user == @user %>
					  <br />
					  <%= link_to "Editar", edit_product_path(product) %> |
					  <%= link_to 'Eliminar', product, method: :delete, data: { confirm: '¿Estas seguro?' } %>
				  <% end %>
				</span>
			  </div>
			</span>
		</div>
	</div>
<% end %>