<% @products.each do |product| %>
	<div id="mis_items_frame">
		<div class="row">
			<span class="span6">
				<span id="mi_image">
				<%= image_tag product.picture %>
				</span>
			</span>
			<span class="span5">
				<div id="mi_title">
					<%= link_to product.title, product_path(product) %>
				</div>
				<p>by <span id="mi_brand"><%= product.brand %></span></p>
				<p id="mi_description">"<%= product.description %>"</p>
				<div id="mi_view_more">
					<%= link_to "Ver Detalles", product_path(product) %> 
				</div>
				<p id="mi_price">$<%= product.price %>0
					<span style="margin-left:2%"><%= link_to "Comprar", "", :class => "button-want" %></span>
				</p>
			</span>
		</div>
	</div>
<% end %>