<div class="modal-soxialit">
  <div class="modal-body" style="max-height:630px">
	<button type="button" class="close-button" data-dismiss="modal" aria-hidden="true">X</button>
	<h2>Puedes publicar un producto de dos formas: </h2>
			<div class="span10">
			<div class="span5">
				<h4>1 - Conviertete en nuestro Partner</h4>
				<p id="description_perfil">Podrás vender en línea a través de Soxialit, tus items gozarán de una interfaz detallada con descripción, guía de tallas, cotización de envíos en tiempo real, entre otras cosas.<br/>
				Además, serás el primero en saber de las actualizaciones en Soxialit, así como de los cambios que están por venir para que comprar moda en Internet sea una gran experiencia.</p>
				<p id="description_perfil">Costo: 15% sobre el importe final. Tu escoges el medio de pago y no te quitamos comisiones extras por el uso de estos servicios: Pago con tarjeta de débito o crédito, Pago en Oxxo y Depósito Bancario.</p>
				<%= link_to "Quiero ser Partner", partners_path, :class => "button-want"%>
			</div>
			<div class="span4">
				<br/>
				<%= image_tag('soxialit_partner.png')%>
			</div>
		</div>
		<div class="span9">
			<hr>
			<div class="span9">
				<h4>Pon tus productos en los ojos de miles de personas</h4>
				<p id="description_perfil">Porque Facebook no es la mejor manera de exponer tus productos, </p>
				<p id="description_perfil">de forma sencilla publica tus items y compartelos a todos tus seguidores y fans.</p>
			</div>
			<div class="span2">
				<%= image_tag('item_tag.png', width: "130px")%>
				<h4 style="margin-left:40%">Crea</h4>
			</div>
			<div class="span2">
				<%= image_tag('share.png', width: "130px")%>
				<h4 style="margin-left:15%">Comparte</h4>
			</div>
			<div class="span2">
				<%= image_tag('like_icon.png', width: "130px")%>
			</div>
			<div style="margin-top:10%" class="span2">
				<%= link_to "Empieza ahora", new_product_path, :class => "btn btn-success" %>
			</div>
		</div>
  </div>
</div>
