<div class="modal-soxialit">
  <div class="modal-body" style="max-height:630px">
	<button type="button" class="close-button" data-dismiss="modal" aria-hidden="true">X</button>
	<h3>Puedes publicar un producto de dos formas: </h3>
		<div class="span10">
			<div class="span6">
				<h4>1 - Conviertete en nuestro Partner.</h4>
				<p style="color:$grayBio;font-size:1em;font-weight:lighter">Podrás vender en línea a través de Soxialit, tus items gozarán de una interfaz detallada con descripción, guía de tallas, cotización de envíos en tiempo real, entre otras cosas. Serás el primero en implementar las actualizaciones para que comprar moda en Internet sea una gran experiencia.</p>
				<p style="color:$grayBio;font-size:1em;font-weight:lighter">Costo: <b>15% sobre el precio final del item</b>. No te quitamos comisiones extras por recibir pagos a través de PayPal, Tarjeta de débito o crédito, Pago en Oxxo y Depósito Bancario.</p>
				<p style="color:$grayBio;font-size:1em;font-weight:lighter">Solo ganamos cuando TÚ ganas: puedes publicar los items que quieras sin costo alguno.</p>
				<br />
				<%= link_to "Quiero ser Partner", partners_path, :class => "button-want"%>
			</div>
			<div class="span3">
				<br/>
				<%= image_tag('soxialit_partner.png')%>
			</div>
		</div>
		<div class="span9">
			<hr>
			<div class="span9">
				<h4>2 - Aún no estoy convencido de ser su Partner.</h4>
				<p style="color:$grayBio;font-size:1em;font-weight:lighter">¡Venga! No hay problema: sube totalmente GRATIS los items que quieras y redirecciona al sitio web que prefieras cuando alguien de click en "Comprar".</p>
				<p style="color:$grayBio;font-size:1em;font-weight:lighter">Nuestra mayor deseo es poner tu talento y tu pasión por la moda en frente de miles de personas.</p>
			</div>
			<div class="span2">
				<%= image_tag('item_tag.png', width: "100px")%>
				<h4 style="margin-left:40%">Crea</h4>
			</div>
			<div class="span2">
				<%= image_tag('like_icon.png', width: "100px")%>
				<h4 style="margin-left:15%">Comparte</h4>
			</div>
			<div style="margin-top:10%" class="span2">
				<%= link_to "Publicar Producto", new_product_path, :class => "btn btn-success" %>
			</div>
		</div>
  </div>
</div>
