<li style="list-style:none" class="users">
<div class="row">
  <div style="margin-top:1%; margin-left:50px" class="span1">
	<% if !user.picture.present? %>
		<%= link_to image_tag("http://graph.facebook.com/#{user.uid}/picture?type=square", 
					width: 50, height: 50, :id =>  "nickname_small_picture"), user_path(user) %>
	<% else %>
		<%= link_to image_tag(user.picture_url(:thumb_profile), :id => "nickname_small_picture"), 
					user_path(user) %>
	<% end %>
  </div>
  <div class="span4" style="margin-left:35px" id="nickname_users_list">
	<%= link_to user.nickname, user_path(user) %> 
		<br />
		<i class="icon-map-marker"></i><span id="nickname_small_location"><%= user.location %></span>
		<p style="margin-top:0%" id="profile_nav_bar">
			<% if current_user == user %>
			<span style="font-size:0.8em">
				<%= user.followers.count %></span>
				<%= link_to "Followers", user_path(user), remote: true, style: "font-size:0.8em" %> |
				<span style="font-size:0.8em" id="followers_count"><%= user.followed_users.count %></span>
				<%= link_to "Following", user_path(user), remote: true, style: "font-size:0.8em" %>
			<% else %>
				<span style="font-size:0.8em" id="followers_count_<%= user.id %>">
					<%= user.followers.count %></span>
					<%= link_to "Followers", user_path(user), remote: true, style: "font-size:0.8em" %> |
				<span style="font-size:0.8em"><%= user.followed_users.count %></span>
				<%= link_to "Following", user_path(user), remote: true, style: "font-size:0.8em" %>
			<% end %>
		</p>
  </div>
  <div class="span1 offset2">
  	<% unless current_user?(user) %>
  	  <div style="margin-top:0.5em; color:white" id="form_index_<%= user.id %>" >
  	    <% if !current_user.following?(user) %>
	      <%= render :partial => 'shared/follow_user', :locals => { :user => user } %>
		<% else %>
		  <%= render :partial => 'shared/unfollow_user', :locals => { :user => user } %>
	    <% end %>
	  </div>
	<% end %>
  </div>
</div>
</li>
<hr />