<% @bloggers.shuffle.each_with_index do |user, index| %>
	<% break if index == 50 %>
	<div class="row">
	  <div style="margin-top:1%; margin-left:50px" class="span1">
		<% if !user.picture.present? %>
			<%= link_to image_tag("http://graph.facebook.com/#{user.uid}/picture?type=square", 
						width: 50, height: 50, :id =>  "nickname_small_picture"), user_path(user) %>
		<% else %>
			<%= link_to image_tag(user.picture_url(:thumb_profile), :id => "nickname_small_picture"), 
						user_path(user) %>
		<% end %>
	  </div>
	  <div class="span4" style="margin-left:2em">
	    <span id="users_nickname"><%= link_to user.nickname, user_path(user) %></span><br /> 
	    <span id="users_role"><%= user.roles.first.name %></span><br />
	    <span id="users_location"><%= user.location %></span>
      </div>
	  <div class="span1 offset2">
	  	<% unless current_user?(user) %>
	  	  <div style="margin-top:0.5em" id="form_index_<%= user.id %>" %>
	  	    <% if !current_user.following?(user) %>
		      <%= render :partial => 'shared/follow_user', :locals => { :user => user } %>
			<% else %>
			  <%= render :partial => 'shared/unfollow_user', :locals => { :user => user } %>
		    <% end %>
		  </div>
		<% end %>
	  </div>
	</div>
  <hr>
<% end %>