<li>
  <div style="margin-top:1%; margin-left:40px;" class="span1">
	<% if !user.picture.present? %>
		<%= link_to image_tag("http://graph.facebook.com/#{user.uid}/picture?type=square", 
					width: 50, height: 50, :id =>  "nickname_small_picture"), user_path(user) %>
	<% else %>
		<%= link_to image_tag(user.picture_url(:thumb_profile), :id => "nickname_small_picture"), 
					user_path(user) %>
	<% end %>
  </div>
  <div class="span4" style="margin-left:35px" id="nickname_users_list">
	<%= link_to user.nickname, user_path(user) %> | 
		<% if user.roles.first.name == 'fashion lover' %>
			<span id="fashionlover_list">fashion lover</span>
		<% elsif user.roles.first.name == 'boutique store' %>
			<span id="boutique_list">boutique store</span>
		<% elsif user.roles.first.name == 'admin' %>
			<span id="admin_list">soxialit</span>
		<% else %>
  			<span id="<%=user.roles.first.name%>_list"><%= user.roles.first.name %></span>
		<% end %>
		<br />
		<i class="icon-map-marker"></i><span id="nickname_small_location"><%= user.location %></span>
  	<% unless current_user?(user) %>
  	  <div style="margin-top:0.5em" id="form_<%= user.id %>" %>
  	    <% if current_user.following?(user) %>
	      <%= render :partial => 'shared/unfollow', :locals => { :user => user } %>
	    <% else %>
	      <%= render :partial => 'shared/follow', :locals => { :user => user } %>
	    <% end %>
	  </div>
	<% end %>
	<hr/>
  </div>
</li>