<% provide(:title, @user.nickname) %>

<% if current_user == @user || current_user.roles.first.name == 'admin' %>
	<div class="row-fluid">
	  <div style="margin-top:1%" class="span2" id="about_menu">
	    <ul id="menu_about">
		  <li id= "link_about"><%= link_to "Perfil", perfil_path(:user_id => @user.id), remote: true %></li>
		  <li id= "link_about"><%= link_to "Datos Personales", ubicacion_path(:user_id => @user.id ), remote: true %></li>
		   <li id= "link_about"><%= link_to "Notificaciones de Email", 
		   					notificacion_path(:user_id => @user.id ), remote: true %></li>
	    </ul>
	  </div>
	  <div class="span8" id="about_rightside">
		<%= render 'users/perfil' %>
	  </div>
	</div>
<% else %>
	<h1>Lo sentimos! No puedes acceder a esta página</h1>
	<%= link_to "Regresar a mi Perfil", user_path(current_user) %>
<% end %>