<h3 id="moveToRight">Editar Perfil</h3>

<div class="row">
  <div class="span5">
    <div style="background-color:whiteSmoke" class="well">
      <%= form_for @user, :html => { :multipart => true }, :validate => true do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <h4>Nombre de usuario</h4>
          <p>( soxialit.com/<span id="fashion">username</span> )</p>
          <p><span><i>*Sólo puede contener letras, números y guión bajo.</i></span></p>

          <%= f.text_field :username %>
        </div><hr />
          <h4>Foto de perfil</h4>
        <div class="field">
          <% if !@user.picture.present? %>
          	<%= image_tag "http://graph.facebook.com/#{@user.uid}/picture?type=square" %>
          <% else %>
          	<%= image_tag(@user.picture_url, :width => 100) %>
          <% end %>
          <p>Foto actual</p>
          	<%= f.file_field :picture %>
        </div><br />
        <div class="field">
          <h4>Ubicación</h4>
          	<%= f.text_field :location, :placeholder => "Ej. Amsterdam" %>
        </div><br />
        <div class="field">
          <h4>Website, Blog o Facebook Fan Page</h4>
          	<%= f.text_field :website, :placeholder => "Ej. www.soxialit.com" %>
        </div>
        <div class="field">
          <h4>Bio</h4>
          <p>(Dile al mundo un poco de ti)</p>
          	<%= f.text_area :bio, rows: 5, :class => "span4" %>
        </div>
        <% if current_user.roles.first.name == "admin" %>
          <h5>Selecciona un perfil:</h5>
          <% for role in Role.find(:all) %>
            <div>
                <% unless role.name == "admin" %>
                  <%= radio_button_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
                  <%= role.name %>
                <% end %>
            </div>
          <% end %>
        <% end %>
        <div class="actions">
          <%= f.submit "Actualizar Perfil", :class => "button-want" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="span5 offset1" id="edit_profile">
    <h4><strong>Código Postal actual: </strong><span style="color:red" id="address_form"><%= @address.zipcode if @address.present? %></span></h4>
    <div id="zip_form">
      <%= form_for(@direction, :url => direction_path, remote: true) do |f| %>
        <%= f.text_field :zipcode, :placeholder => "Ingresa tu C.P." %>
        <%= f.submit "Cambiar" %>
      <% end %>
    </div>
    <p>*Con tu C.P. conoceras el precio final y cuando podrían llegar tus items en tiempo real.</p>
  </div>
</div>