<h3 id="moveToRight">Editar Perfil</h3>

<div class="row">
  <div class"span6">
    <div style="width:50%; background-color:#F4F2F1" class="well">
      <%= form_for @user, :html => { :multipart => true } do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <h5>Nombre de usuario:</h5>
          <%= f.text_field :username %>
        </div><br />
        <div class="field">
          <% if !@user.picture.present? %>
          	<%= image_tag "http://graph.facebook.com/#{@user.uid}/picture?type=square" %>
          <% else %>
          	<%= image_tag(@user.picture_url, :width => 100) %>
          <% end %>
          <h5>Cambiar foto de pérfil:</h5>
          	<%= f.file_field :picture %>
          	<%= f.hidden_field :picture_cache %>
        </div><br />
        <div class="field">
          <h5>Ubicación:</h5>
          	<%= f.text_field :location, :placeholder => "Ej. Amsterdam" %>
        </div><br />
        <div class="field">
          <h5>Website, Blog o Facebook Fan Page:</h5>
          	<%= f.text_field :website, :placeholder => "Ej. www.soxialit.com" %>
        </div>
        <div class="field">
          <h5>Bio:</h5>
          	<%= f.text_area :bio, rows: 5 %>
        </div>
        <div class="actions">
          <%= f.submit "Actualizar Perfil", :class => "button-want" %>
        </div>
      <% end %>
    </div>
  </div>
</div>