<% provide(:title, @user.nickname) %>
<div id="ajax-loading" style="float:left; position:fixed; display:none; margin: 54px 755px; z-index: 3000"><%= image_tag("ajax-loader.gif") %></div>

<div class="row">
  <div class="span4" id="about_menu" style="border-right: 1px solid rgba(0, 0, 0, 0.0976563)">
    <div id="user_cover_photo">
      <% if current_user == @user %>
        <div class="user_edit">
          <%= link_to "Editar", edit_user_path(@user) %>
        </div>
      <% end %>
      <% if !@user.cover.present? %>
        <%= image_tag("user_cover_photo_default.jpg") %>
      <% else %>
        <%= image_tag @user.cover_url(:cover) %>
      <% end %>
    </div>
    <div id="user_profile_picture">
      <%= render 'users/profiles/profile_picture' %>
    </div>
    <div id="user_profile_name">
      <%= @user.nickname %>
    </div>
    <div id="user_profile_role">
      <%= @user.roles.first.name %>
    </div>
  </div>
  <div class="span10 offset4">
    <div style="padding:2em">
      <p id="user_menu">
        <%= link_to "Actividad", muro_path(@user), remote: true%> | 
        <%= link_to "Favoritos", favorites_path(@user), remote: true, style:"color:red; border-bottom: 1px solid red" %> | 
        <%= link_to "Bio", biografia_path(@user), remote: true %> |
        <%= link_to "Colecciones", coleccion_path(@user), remote: true  %> |
        <span id="user_menu_social">
          <%= link_to "Following", following_user_path(@user), remote: true %> (<%= @user.followed_users.count %>) |
          <%= link_to "Followers", followers_user_path(@user), remote: true %> (<%= @user.followers.count %>) 
        </span>
      </p>
      <span><%= render 'follow_form' if user_signed_in? %></span>
      <hr />
      <div style="margin-top:2em" id="ajax">
        <%= render 'users/favorites' %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
mixpanel.track("User Profile Loaded")

$(document).ready(function(){
  $('#user_cover_photo').hover(function(e){
    $('.user_edit').toggleClass("hover")
  });
});

$(function() {
  $('#ajax-loading')
    .hide()  // hide it initially.
    .ajaxStart(function() {
      $(this).show(); // show on any Ajax event.
    })
    .ajaxStop(function() {
      $(this).hide(); // hide it when it is done.
  });
});

$(document).ready(function(){
  $('#profile_nav_botton').css({ boxShadow: '1px 3px 6px #444' });
  });
  
  $('.user_item').live({
    mouseenter: 
    function(e){
      $(this).css("box-shadow", "0px 1px 1px 3px #d0d0d0");  
    },
    mouseleave:
    function (e){
      e.preventDefault();
      $(this).css("box-shadow", "none");
    }
});

$(function(){
  $('body').bind('ajaxComplete', function() {
    $('.user_follow').bind('click', function(e){
      e.preventDefault(); // Prevent link from following its href
    });
  });
});

if (history && history.pushState) {

  $(function(){
    $('#user_menu').find('a').live('click', function(){
      $.getScript(this.href);
      history.pushState(null, "", this.href);
        return false;
    });
    $(window).bind("popstate", function () {
        $.getScript(location.href);
      });
  });
}
$(function(){
  $('.new_comment textarea').bind('keyup', function() { 
    if (event.keyCode == 13) {
      $(this).closest('form').submit();
    }
  });
});

$(function(){
    $('#user_menu').find('a').live('click', function(){
      $('#user_menu').find('a').css('color', 'black');
      $('#user_menu').find('a').css('border', 'none');
      $(this).css('color', 'red');
      $(this).css('border-bottom', '1px solid red')
    });
  });
</script>