<% if current_user.roles.first.name == 'admin' %>
  <%= link_to "Fashion Lovers", fashionlover_path, :remote => true %>
  <%= link_to "Designers", designer_path, :remote => true %>
  <%= link_to "Boutiques", boutique_path, :remote => true %>

  Fashion Lovers/ Designers/ Boutiques/ Blogger/ Fotógrafos
  <div id="user_roles"></div>

  <h1>Listing users</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>

      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </tr>
  <% end %>
  </table>

  <br />

<% else %>

  <h1>¡Hey! Por ahora no puedes acceder a esta página</h1>
  <%= link_to "Regrsar a mi Perfil", user_path(current_user) %>

<% end %>