<% if current_user.roles.first.name == 'admin' %>
  <h1>Listing users</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      
      <td><%= link_to 'Show', user %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New User', new_user_path %>
<% else %>

<h1>¡Hey! Por ahora no puedes acceder a esta página</h1>

<%= link_to "Regrsar a mi Perfil", user_path(current_user) %>

<% end %>