<% if @user.role?(:admin) %>
  <section>
    <%= render 'users/profiles/admin' %>
   </section>
<% elsif @user.role?(:designer)  %>
  <section>
    <%= render 'users/profiles/designer' %>
  </section>
<% elsif @user.role?(:'fashion lover')  %>
  <section>
    <%= render 'users/profiles/fashionlover' %>
  </section>
<% elsif @user.role?(:'blogger')  %>	
  <section>
    <%= render 'users/profiles/blogger' %>
  </section> 
<% elsif @user.role?(:'fotografo')  %>
  <section>
    <%= render 'users/profiles/fotografo' %>
  </section>  
<% elsif @user.role?(:'boutique store')  %>
  <section>
    <%= render 'users/profiles/boutique' %>
  </section>
<% end %>
<div id="ajax">
  <div class="row">
   <div class="span8 offset1">
    <% if @activities.any? %>
     <ol class="microposts">
      <% @activities.each do |feed_item| %>
        <%= render :partial => 'feed/feed_item', :locals => { :feed_item => feed_item } %>
      <% end %>
     </ol>
    <% end %>
   </div>
  </div>
</div>
<script type="text/javascript">
window.onload = function(){
	
	var container = document.getElementById('contenedor');
	var wall = new Masonry(container);
	container.style.display = "block";
	wall.reload();
	
};

mixpanel.track("User Profile Loaded")

</script>