<% if @feed_items.any? %>
  <ol class="microposts">
	<% @feed_items.each do |feed_item| %>
	 <% if feed_item.present? && feed_item.activitable.status == true %>
  	  <li id="<%= feed_item.id %>">
	  	<div class="row" >
	  	  	<div class="span2" style="padding-top:4em; text-align:right">
	  	  	  <%= render :partial => 'feed/profile_picture', :locals => { :feed_item => feed_item } %>
	  	  	  <div class="timestamp" style="margin-top:1em">
	  	  	  	<%= link_to feed_item.user.nickname, user_path(feed_item.user) %><br/ >
				<%= time_ago_in_words(feed_item.created_at) %>
			  </div>
			</div>
			<div class="span9" id="feed_wall" style="padding-top:4em">
				<div class="span2"> 
				  <%= render :partial => 'feed/pictures', :locals => { :feed_item => feed_item } %>
				</div>
				<div class="span6">
					<%= render :partial => 'feed/headline', :locals => { :feed_item => feed_item } %>
					<br />
					<div class="red_bar"></div>
					<% unless feed_item.activitable_type == "User" %>
				      
				  	<% end %>
				</div>
			</div>
		</div>
	  </li>
	 <% end %>
	<% end %>
  </ol>
<% end %>