<div id="home_nav_top">
      <div style="height:50px" class="row">
        <div class="span5 offset1">
          <p id="title">Soxialit</p>
        </div>
        <div class="span6 offset2">
          <% if user_signed_in? %>
              <p id="right_navbar">Conectado como: <span id="nickname"><%= link_to current_user.username, 
                  user_path(current_user) %></span> 
              <% if !current_user.picture.present? %>
                <%= link_to image_tag("http://graph.facebook.com/#{current_user.uid}/picture?type=square", 
                        width: 50, height: 50, :id =>  "nickname_small_picture"), user_path(current_user) %>
              <% else %>
                <%= link_to image_tag(current_user.picture_url(:thumb_profile), :id => "nickname_small_picture"), 
                          user_path(current_user) %>
              <% end %>
            </p>
            <%= link_to "", destroy_user_session_path, :method => :delete %>
          <% else %>
              <p id="right_navbar">
                <%= link_to 'Inicia Sesión', user_omniauth_authorize_path(:facebook) %> |
                <%= link_to 'Crea tu Perfil', 
                    user_omniauth_authorize_path(:facebook), :class => "button-want" %>
              </p>
              <br />
          <% end %>   
        </div>
      </div>
</div>
<div style="background-color:$rojo;" id="home_nav_botton"></div>