<h1>Listing pays</h1>

<table>
  <tr>
    <th>Plan</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pays.each do |pay| %>
  <tr>
    <td><%= pay.plan_id %></td>
    <td><%= pay.email %></td>
    <td><%= link_to 'Show', pay %></td>
    <td><%= link_to 'Edit', edit_pay_path(pay) %></td>
    <td><%= link_to 'Destroy', pay, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pay', new_pay_path %>
