<div class="span12 offset1">
	<% if @project.pictures.count == 1 %>
		<div id="picture_<%= picture.id %>" class="image_frame">
			<%= image_tag(picture.image_url(:timeline)) %>
			<div style="border: 1px solid white; background-color: white;"class="well">
				<div class="span2 offset3">
					<div><%= radio_button_tag "position", picture.id,{ :checked => true }, :class => "position" %><span style="display:block;" class="imagen_principal">Imagen principal del proyecto</span></div>
				</div>
				<div class="span1">
					<%= link_to image_tag("trash.png", style: "width:50px"), picture, method: :delete, remote: true, :id => "remove" %><span style="float:right">Eliminar</span>
				</div>
			</div>
		</div>
	<% else %>
		<div id="picture_<%= picture.id %>" class="image_frame">
			<%= image_tag(picture.image_url(:timeline)) %>
			<div style="border: 1px solid white; background-color: white;"class="well">
				<div class="span2 offset3">
					<div><%= radio_button_tag "position", picture.id, { :checked => false }, :class => "position" %><span style="display:none;" class="imagen_principal">Imagen principal del proyecto</span></div>
				</div>
				<div class="span1">
					<%= link_to image_tag("trash.png", style: "width:50px"), picture, method: :delete, remote: true, :id => "remove" %><span style="float:right">Eliminar</span>
				</div>
			</div>
		</div>
	<% end %>
</div>
