<div class="hero-unit">
	<%= render 'form' %>
</div>
<div class="row">
	<p style="text-align:center; font-size:1.6em; font-weight:lighter">¡Si tienes dudas específicas mandanos un tweet a <%= link_to "@Soxialit", "https://twitter.com/soxialit" %>, te responderemos enseguida!</p>
</div>
<br/ >
<% if current_user.roles.first.name == 'admin' %>
	<% @feedbacks.each do |feedback| %>
		<p>id: <%= feedback.user.id %>|| username:<%= feedback.user.username %>|| email:<%= feedback.user.email %> </p>
		<p><%= feedback.content %></p>
		<hr/ >
	<% end %>
<% end %>
<script type="text/javascript">mixpanel.track("Feedback Page Loaded")</script>