<%= form_for(@post) do |f| %>

  <div class="field">
    <p>Título</p>
    <%= f.text_field :title %>
  </div>
  <p>Post <i>(máximo 600 caracteres)</i></p>
  <%= f.text_area :body, :class => "ckeditor" %>
  <p><i>Límite:</i> <span id="count">600</span></p>
  <div class="field">
    <br />
    <p>Frase:</p>
    <%= f.text_field :quote %>
  </div>

  <div class="actions">
    <%= f.submit 'Preview', :onclick => "this.form.action='new_preview'" %>
    <%= f.submit 'Crear' %>
    <%= f.submit "Pre" %>
  </div>
<% end %>

<%= form_for(Slide.new, :remote => true) do |f| %>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.file_field :picture, multiple: true, name: "slide[picture]"%>
<% end %>

<div id="algo">
  <% if @slides.present? %>
    <% @slides.each do |s| %>
        <div id="slide_<%=s.id%>">
          <%= image_tag(s.picture_url, :width => 100) %>
          <%= link_to "eliminar", s, method: :delete, remote: true %>
        </div>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
var CKEDITOR_BASEPATH = '/assets/ckeditor/';
</script>

<script type="text/javascript">
$(function() {
    var editor = CKEDITOR.replace('post_body');
    global = editor;
    setInterval("updateCount()", 500);
});

function updateCount() {
    almost = global.getData();
    var count = 758 - almost.length;
    $('#count').html(almost.length);
    if(almost.length <= 750)
      $('#count').html(count);
    else
      $('#count').html(count)
}
</script>

<script id="template-upload" type="text/x-tmpl">
  <div id="name" style="display:none">
    <div class="upload">
      <div class="span2">
        {%=o.name%}
          <div class="progress"><div class="bar" style="width: 0%"></div></div>
      </div
    </div>
  </div>
</script>