<%= form_for(@post, :url => create_post_path) do |f| %>
  <div class="field">
    <p>Título</p>
    <%= f.text_field :title %>
  </div>
  <p>Post <i>(máximo 600 caracteres)</i></p>
  <%= f.text_area :body, :class => "ckeditor" %>
  <p><i>Límite:</i> <span id="count">600</span></p>
  <div class="field">
    <br />
    <p>Frase:</p>
    <%= f.text_field :quote %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
var CKEDITOR_BASEPATH = '/assets/ckeditor/';
</script>

<script type="text/javascript">
$(function() {
    var editor = CKEDITOR.replace('post_body');
    global = editor;
    setInterval("updateCount()", 500);
});

function updateCount() {
    almost = global.getData();
    var count = 608 - almost.length;
    $('#count').html(almost.length);
    if(almost.length <= 600)
      $('#count').html(count);
}
</script>