<% content_for :meta do %>
	<% if @post.slides.any? %>
		<% meta [:property => "og:image", :content => @post.slides.first.picture] %>
	<% end %>
	<% meta [:property => "og:description", :content => " #{@post.title}"] %>
	<% meta [:property => "og:type", :content => "website"] %>
	<% meta [:property => "og:title", :content => "Soxialit - La red social para fashion designers, bloggers, fotógrafos y boutique stores"] %>
	<% meta [:property => "og:url", :content => "https://soxialit.com/posts/#{@post.id}"] %>
	<% meta [:property => "fb:app_id", :content => "235628993153454"] %>
<% end %>

<div class="row">
  <div class="span2">
    <% if @post.status == false %>
      <h3 style="color:#555; font-weight:lighter">Vista Previa</h3>
    <% end %>
    <% if current_user == @post.user %>
        <% if @post.status == false %>
          <%= link_to 'Editar', edit_post_path(@post) %> |
          <%= link_to 'Cancelar', post_path(@post), method: :delete %><hr />
          <%= link_to 'Publicar', publish_path(:post_id => @post.id), :class => "button-want" %>
        <% else %>
          <br/ >
          <%= link_to 'Editar', edit_post_path(@post) %> |
          <%= link_to 'Cancelar', post_path(@post), method: :delete %>
        <% end %>
    <% elsif @post.status == false %>
      <p>Este post aún no ha sido Publicado por el autor.</p>
    <% else %>
      <br />
    <% end %>
  </div>
  <div class="span8">
   <span class="contenido">
    <div style="margin-left:1.5em">
      <div class="row">
        <div class="span1">
          <% if !@user.picture.present? %>
            <%= link_to image_tag("http://graph.facebook.com/#{@user.uid}/picture?type=square", 
                  width: 50, height: 50, :id =>  "nickname_small_picture"), user_path(@user) %>
          <% else %>
            <%= link_to image_tag(@user.picture_url(:thumb_profile), 
                  :id => "nickname_small_picture"), user_path(@user) %>
          <% end %>
        </div>
        <% if current_user == @post.user %>
          <span class="micropost_delete"><%= link_to "X", post_path(@post), :method => :delete %></span>
        <% end %>
        <div class="span7">
          <p style="font-size:1.1em"><span id="user_and_items_link">
            <%= link_to @user.nickname, user_path(@user) %></span>
            <span id="headline_color">
             <span style="">publicó:</span><br/ >
             <span class="timestamp" style="float:right">
              <%= time_ago_in_words(@post.created_at) %>.
              <br />
              </span>
              <br /><br /><span id="item_link_micropost"><%=  @post.title %></span>
            </span>
            <br />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="span8">
          <div class="galleria">
          	<% if @photos.present? %>
              <% @photos.each do |photo| %>
                <%= image_tag(photo.picture_url) if photo.picture.present? %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div><br />
      <div class="row">
        <div class="span8">
          <h4 id="post_quote_show"><%= @post.quote %></h4>
        </div>
      </div>
      <div class="row">
        <div class="span8" id="post_body_show">
          <p><%= raw nl2br(h(@post.body)) %></p>
          <p>vía <%= link_to @post.url, @post.url ,target: '_blank' %></p>
		  <div style="padding:5%; margin-right:-4%; margin-top:-7%;">
				<span style="float:right;  display:block">
					<div class="fb-like" data-href="" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
				</span>
				<% if signed_in? %>
					<div style="margin: 0%" class="votacion" id="votacion_<%= @post.id %>">
						<% if @post.id == current_user.voted_by?(current_user.evaluations, @post.id) %>
						   <div id="ajax-status" style="float: right; display:none; margin-left: 50%; width:20px">
								<%= image_tag("loading.gif") %>
							</div>
							<span id="want_<%= @post.id %>">
								<div id="love_icon_<%= @post.id %>" class="love_icon_active">
									<span style="float:left; display:block; margin-left:-50%; color:black" 
												id="love_post_<%= @post.id %>">
										<%= @post.reputation_value_for(:likes).to_i %>
									</span>
								</div>
				   			</span>
							<% elsif current_user && !current_user.voted_for?(@post) %>
						   		<div id="ajax-status" style="float: right; display:none; margin-left: 50%; width:20px">
									<%= image_tag("loading.gif") %>
								</div>
								<span id="want_<%= @post.id %>">
									<div id="love_icon_<%= @post.id %>" class="love_icon">
										<span style="float:left; display:block; margin-left:-50%; color:black" 
													id="love_post_<%= @post.id %>">
											<%= @post.reputation_value_for(:likes).to_i %>
										</span>
										<%= link_to "xxx", likes_post_path(@post, type: "up"), 
												:class =>"trick_anchor", :remote => true,  method: "post", id: "link" %>
									</div>
					   			</span>
						<% end %>
					</div>
				 <% end %>
			</div>
        </div>
      </div>
    </div>
    <br />
    <div class="red_bar"></div><br />
    <% if @post.comments.count > 0 %>
      <ul class="comments" style="margin-bottom:1px" >
        <% @comments.each do |comment| %>
        <%= content_tag_for(:li, comment ) do %>
          <div class="comment_body">
            <span class="comment_avatar">
              <% if !comment.user.picture.present? %>
                <%= link_to image_tag("http://graph.facebook.com/#{comment.user.uid}/picture?type=square", 
                    width: 35, height: 35, :id =>  "nickname_small_picture"), user_path(comment.user) %>
              <% else %>
                <%= link_to image_tag(comment.user.picture_url(:thumb_profile), width: 35, :id => "nickname_small_picture"), 
                    user_path(comment.user) %>
              <% end %>
            </span>
            <span class="comment_author"><%= "#{comment.user.nickname}"%></span>
            <span class="comment_text"><%= comment.body %></span>
            <span class="comment_timestamp"><%= time_ago_in_words(comment.created_at) %> 
            <% if current_user == comment.user %>
              <span class="comment_delete"><%= link_to "X", comment_path(comment), 
                        :method => :delete, remote: true %>
              </span></span>
            <% end %>
          </div>
        <% end %>
        <% end %>
      </ul>
    <% end %>
    <% if user_signed_in? %>
      <div class="comment_form" id="form_<%=@post.id %>" >
        <%= form_for(@comment, remote: true) do |f| %>
          <ul class="comments" id="comment_post_<%=@post.id %>"></ul>
          <ul class="comments_new">
                <li>
                <%= render 'shared/error_messages', object: f.object %>
                  <span class="comment_avatar">
                      <% if !current_user.picture.present? %>
                      <%= image_tag("http://graph.facebook.com/#{current_user.uid}/picture?type=square", 
                            width: 35, height: 35, :id =>  "nickname_small_picture") %>
                    <% else %>
                      <%= image_tag(current_user.picture_url(:thumb_profile), width: 35, 
                          :id => "nickname_small_picture") %>
                    <% end %>
                  </span>
                  <div class="field">
                      <%= f.text_area :body, rows: "1", :class => "span7", :placeholder => "Agrega un comentario..." %>
                  </div>
                      <%= f.hidden_field :commentable_id, :value => @post.id %>
                      <%= f.hidden_field :commentable_type, :value => "Post" %>
                  </li>
          </ul>
          <div style="margin:1% 10% 1% 1%; text-align:right"> 

          <%= f.submit "Comentar", class: "button-comment" %>
            </div>
        <% end %>
      </div>
    <% end %>
   </span>
  </div>
</div>
<br/ >
<script type="text/javascript">
  Galleria.run('.galleria');
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=439343236107925";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>