<div style="display:block" id="micropost" class="box photo col3 masonry-brick">
	<div style="display:block" class="frame_link_favorites">
		<div style="max-width: 270px; position:relative; text-align:center; height:auto; padding:5% 5% 5% 5%">
			<% if micropost.id > 450 %>
				<% if !micropost.picture_url(:index).nil? %>
					<%= link_to image_tag(micropost.picture_url(:index), style:"margin-left:5%; max-width: 90%; height:auto"),  modal_micropost_path(:micropost_id => micropost.id), {:id => "modal", :rel => "tab", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true} %>
			
				<% else %>
					<%= link_to image_tag(micropost.thumbnail, style:"margin-left:5%; max-width: 90%; height:auto"),  modal_micropost_path(:micropost_id => micropost.id), {:id => "modal", :rel => "tab", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true} %>
				<% end %>
			<% else %>
				<%= link_to image_tag(micropost.thumbnail, style:"margin-left:5%; max-width: 90%; height:auto"),  modal_micropost_path(:micropost_id => micropost.id), {:id => "modal", :rel => "tab", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true} %>

			<% end %>

			<p id="title_link_modal">
				<%= link_to micropost.title, micropost, target: '_blank' %>
		  	</p>
		  	<hr/>
		  	<div id="micropost_description" style="height:50px; width: 150px">
				<div style="float:left; width: auto; height: auto">
					<% if find_micropost_imagefile(micropost.id) == nil %>
						<%= link_to image_tag(find_micropost_userimage(micropost.id), style:"width:35px; margin-left:2%; margin-top:0", id: "like_small_picture"), user_path(micropost.user)%>
					<% else %>
						<%= link_to image_tag(find_micropost_imagefile(micropost.id), style:"width:35px; margin-left:2%; margin-top:0", id: "like_small_picture"), user_path(micropost.user)%>
					<% end %>
					<% if user_signed_in? %>
						<% unless current_user?(micropost.user) %>
							<div style="margin-top:0.5em" class="form_micropost_<%= micropost.user_id %>">
					  			<% if current_user.following?(micropost.user) %>
								<% else %>
						      		<%= render :partial => 'shared/follow_favorites', :locals => { :user => micropost.user } %>
								<% end %>
							</div>
						<% end %>
					<% end %>
				</div>
				<div style="float:left; margin-left:3%">
					<span style="font-size:0.8em" id="item_link"><%= link_to truncate(find_micropost_nickname(micropost.id), :length => 25), user_path(micropost.user)%></span>
				</div>
		  	</div>
		  	<div style="float:right; margin-top: -20%">
		  		<% if signed_in? %>
					<div style="margin-right:-2%;" class="votacion" id="votacion_<%= micropost.id %>">
						<% if micropost.user_id == current_user.id %>
							<span id="want_<%= micropost.id %>">
								<div id="love_icon_<%= micropost.id %>" class="love_icon_active">
									<span style="float:left; display:block; margin-left:-50%; color:black" id="love_z.target_id_<%= micropost.id %>">
										<%= micropost.reputation_value_for(:lovs).to_i %>
									</span>
								</div>
					   		</span>
							<% elsif current_user && !current_user.voted_for?(micropost) %>
	        				<span id="want_<%= micropost.id  %>">
	        					<div id="love_icon_<%= micropost.id  %>" class="love_icon">
									<span style="float:left; display:block; margin-left:-50%; color:black" id="love_product_<%= micropost.id  %>">
	        							<%= micropost.reputation_value_for(:lovs).to_i %>
	        						</span>
	        						<%= link_to "x", lovs_micropost_path(micropost, type: "up"), :class =>"trick_anchor", :remote => true,  method: "post", id: "link" %>
	        					</div>
	           				</span>
							<% else %>
	        				<span id="want_<%= micropost.id %>">
	        					<div id="love_icon_<%= micropost.id %>" class="love_icon_active">
									<span style="float:left; display:block; margin-left:-50%; color:black" id="love_product_<%= micropost.id %>">
	        							<%= micropost.reputation_value_for(:lovs).to_i %>
	        						</span>
	        					</div>
	       					</span>
						<% end %>
					</div>
				<% else %>
					<span id="want_<%= micropost.id %>">
						<div id="love_icon_<%= micropost.id %>" class="love_icon_active">
							<span style="float:left; display:block; margin-left:-50%; color:black" id="love_product_<%= micropost.id %>">
								<%= micropost.reputation_value_for(:lovs).to_i %>
							</span>
						</div>
					</span>
				<% end %>
			  </div>
		</div>
	</div>
</div>