<% if user_signed_in? %>
	<% if current_user.roles.first.name == "admin" %>
		<br/>
		<p style="font-weight:lighter; color:#777; font-size:1.5em; font-family:acta-display;">Comparte un artículo, un post de tu blog u otro link sobre moda:</p>
		<div class="span10">
		<%= form_for(@micropost) do |f| %>
		  	  <%= render 'shared/error_messages', object: f.object %>
		      <p>URL: <%= f.text_area :url, :rows => "2", :class => "span8", :id => "status" %></p>
		      <p>URL: <%= f.text_field :url %></p>
		      <p>PROVIDER: <%= f.text_field :provider %></p>
		      <p>TITULO: <%= f.text_field :title %></p>
		      <p>DESCRIPTION: <%= f.text_field :description %></p>
		      <p>THUMBNAIL: <%= f.text_field :thumbnail %></p>
		      <p>STATUS: <%= f.text_field :status, value: true %></p>
		      <p>PICTURE: <%= f.text_field :picture %></p>
	    	  <p>TAGS: <%= f.text_field :tag_list %></p>

		      <div style="float:right" class="actions" >
		        <span style="margin-right:6em"><%= f.submit "Publicar", id: "button_send", class: "button-nopost" %></span>
		      </div>
		    <br/>
	    <% end %>
		</div>
	 <% end %>
<% end %>