<% provide(:title, 'Posts') %>

<div id="modal-micropost"></div>
<div id="ajax" style="float:left; position:fixed; display:none; margin: 20% 455px; z-index: 3000"><%= image_tag("ajax-loader.gif") %></div>

<div id="menu-order" style="display:block; position: fixed;	z-index: 500; margin-left: 35px;" class="span11">
	<% if user_signed_in? %>
		<ul id="ui-filter-menu">
			<li class="filter">
				<span class="ui-filter-menu-item-time-text"><i style="margin-top: -1%" class="icon-filter"></i>Ordenar por: </span>
			</li>
			<li class="ui-filter-menu-item">
				<span class="ui-filter-menu-item-time-text"><%= image_tag('like-active.png') %><%= link_to 'Mas populares', microposts_lov_path, remote: true, id: "microposts_lovs", style:"margin-left:2%" %></span>
			</li>
			<li class="ui-filter-menu-item">
				<span class="ui-filter-menu-item-time-text"><i style="margin-top: -1%" class="icon-time"></i><%= link_to 'Mas recientes', microposts_order_path, remote: true, id: "microposts_order", style:"margin-left:2%" %></span>
			</li>
				<li style="width: 300px; height: 50px; float:right; padding: 7px 0 0 10px;" class="ui-filter_menu-item">
					<%= form_for @search, url: microposts_search_path, remote: true do |f| %>
							<%= f.text_field :user_nickname_or_title_or_description_contains %>
							<span id="search-button" class="ui-filter-menu-item-time-text"><i style="margin-top: 2px" class="icon-search"></i>Buscar</span>
							<%= f.submit "Search", id: "search_button", style:"margin-top: -100%;" %>
					<% end %>
				</li>
		</ul>
	<% else %>
		<ul style="margin-top:-23px" id="ui-filter-menu">
			<li class="filter">
				<span class="ui-filter-menu-item-time-text"><i style="margin-top: -1%" class="icon-filter"></i>Ordenar por: </span>
			</li>
			<li class="ui-filter-menu-item">
				<span class="ui-filter-menu-item-time-text"><%= image_tag('like-active.png') %><%= link_to 'Mas populares', microposts_lov_path, remote: true, id: "microposts_lovs", style:"margin-left:2%" %></span>
			</li>
			<li class="ui-filter-menu-item">
				<span class="ui-filter-menu-item-time-text"><i style="margin-top: -1%" class="icon-time"></i><%= link_to 'Mas recientes', microposts_order_path, remote: true, id: "microposts_order", style:"margin-left:2%" %></span>
			</li>
			
			<li style="width: 300px; height: 50px; float:right; padding: 7px 0 0 10px;" class="ui-filter_menu-item">
					<%= form_for @search, url: microposts_search_path, remote: true do |f| %>
							<%= f.text_field :user_nickname_or_title_or_description_contains %>
							<span id="search-button" class="ui-filter-menu-item-time-text"><i style="margin-top: 2px" class="icon-search"></i>Buscar</span>
							<%= f.submit "Search", id: "search_button", style:"margin-top: -100%;" %>
					<% end %>
			</li>
		</ul>
	<% end %>
	
</div>

<div style="display:block; margin-top: 2%" id="contenedor" class="clearfix masonry">
	<% if browser.firefox? %>
		<%= render @microposts %>
	<% end %>
</div>

<div style="display:none"><%= will_paginate(@microposts)%></div>

<div style="display:block" class="container">
	<div style="display:block" class="row">
		<div style="display:block;" class="span10 offset1">
			<div  style="display:block; margin:1em; font-size:1.4em" class="show_more" id="paginate">Ver más Posts</div>
		</div>
	</div>
</div>
<br/>
<div id="fb-root"></div>

<script type="text/javascript">

$('#micropost_search input').keydown(function(e) {
    if (e.keyCode == 13) {
	    e.preventDefault();
        $(this).closest('form').submit();
		$('#contenedor').empty();
		$('#micropost_search')[0].reset();
    }
});

$('#search-button').bind('click', function(e){
	$('#contenedor').empty();
	$('#micropost_search input').closest('form').submit();
	$('#micropost_search')[0].reset();
});

$(function() {
  $('#ajax')
    .hide()  // hide it initially.
    .ajaxStart(function() {
      $(this).show(); // show on any Ajax event.
    })
    .ajaxStop(function() {
      $(this).hide(); // hide it when it is done.
  });
});


$(function() {
 
	jQuery(function(){
		if ($('.pagination').length) {
			var url;
			$('#paginate').show();
			$('#paginate').bind('click', function(){
				url = $('.pagination .next_page').attr('href');
				return $.getScript(url);
			});
		}
	});
});

$(function(){
	setTimeout(function(){
		var wall = new Masonry( document.getElementById('contenedor') );
		wall.reload();
		$('.show_more').show();
	}, 4000);
});


$(function() {
  $('body').bind('ajaxComplete', function() {
	$('.show_more').hide();
	setTimeout(function(){
		var wall = new Masonry( document.getElementById('contenedor') );
		wall.reload();
		$('.show_more').show();
	}, 4000);
  });
});

  	$('.frame_link_favorites').live({
		mouseenter: 
		function(e){
			$(this).css("box-shadow", "1px 1px 2px 0px #d0d0d0");
			$(this).css("margin-top", "2%");
			
		},
		mouseleave:
		function (e){
			e.preventDefault();
			$(this).css("box-shadow", "none");
			$(this).css("margin-top", "1%");
			
		}
	});
	

$('#microposts_lovs').click(function(){
	$('#contenedor').empty();
});

$('#microposts_order').click(function(){
	$("#contenedor").empty();
});

//follow link preventdefault
$('.follow_link').bind('click', function(e){
	e.preventDefault();
});


(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=439343236107925";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

setTimeout(function(){
	$('.alert.alert-success').fadeOut();
}, 2000);
			
if (history && history.pushState) {

	$(function(){
		$('#contenedor').find('#modal').live('click', function(){
			$.getScript(this.href);
			history.pushState(null, "", this.href);
		   	return false;
		});
		$(window).bind("popstate", function () {
		    $.getScript(location.href);
		  });
	});
}

$(function(){
	$('#index_microposts').css('color', 'red');
	$('#index_microposts').css('border-bottom', '1px solid red');
});
			
</script>

<script type="text/javascript">mixpanel.track("Microposts Feed")</script>
