<% if current_user.direction.nil? %>
	<div class="span4" id="cp_actualiza">
		<p id="edit_information">* Actualiza tu información para continuar.</p>
		<div id="zip_form">
	  		<%= form_for(@direction, :url => direction_path, remote: true) do |f| %>
				<span style="color:red" id="errors"></span>
	    		<%= f.text_field :name, :placeholder => "Tu nombre", :class => "personal" %>
	    		<%= f.text_field :street, :placeholder => "Calle y número", :class => "personal" %>
	    		<%= f.text_field :suburb, :placeholder => "Colonia", :class => "personal" %>
	    		<%= f.text_field :town, :placeholder => "Delegación ó municipio", :class => "personal" %>
	    		<%= f.text_field :state, :placeholder => "Estado", :class => "personal" %>
				<%= f.text_field :zipcode, :placeholder => "Ingresa tu C.P.", :class => "personal" %>
				<%= f.hidden_field :product_id, :value => @product.id %>
	        	<%= f.submit "Actualizar" %>
	     	<% end %>
		</div>
	</div>
	<% elsif current_user.direction.zipcode == "" || current_user.direction.street == ""  %>
		<div class="span4" id="cp_actualiza">
			<p id="edit_information">* Actualiza tu información para continuar.</p>
	    	<div id="zip_form">
		  		<%= form_for(@direction, :url => direction_path, remote: true) do |f| %>
					<span style="color:red" id="errors"></span>
		        	<%= f.text_field :name, :value =>  @address.name, :placeholder => "Tu nombre", :class => "personal" %>
	        		<%= f.text_field :street, :value =>  @address.street, :placeholder => "Calle y número", :class => "personal" %>
	        		<%= f.text_field :suburb, :value =>  @address.suburb, :placeholder => "Colonia", :class => "personal" %>
	        		<%= f.text_field :town, :value =>  @address.town, :placeholder => "Delegación ó municipio", :class => "personal" %>
	        		<%= f.text_field :state, :value =>  @address.state, :placeholder => "Estado", :class => "personal" %>
					<%= f.text_field :zipcode, :value =>  @address.zipcode, :placeholder => "Ingresa tu C.P.", :class => "personal" %>
					<%= f.hidden_field :product_id, :value => @product.id %>
		        	<%= f.submit "Actualizar" %>
		     	<% end %>
    		</div>
  		</div>
	<% else %>
		<%= form_for @product, url: envio_df_product_path(@product), remote: true do |f| %>
		<% if @product.ship_df.nil? %>
			<% else %>
				<div><td><%= radio_button_tag 'envio', @product.ship_df, :class => 'Envío dentro DF' %><span id="envio_df"> Envío dentro DF </span>- $<%= @product.ship_df %> </td></div>
		<% end %>
		<% if @product.ship_int.nil? %>
			<% else %>
				<div><td><%= radio_button_tag 'envio', @product.ship_int, :class => 'Envío al interior del país' %><span id="envio_interior"> Envío interior del país </span>- $<%= @product.ship_int %></td></div>
		<% end %>
		<% if @tarifas.nil? && @dias.nil? %>
			<% else %>
			<br/>
			<tbody>
				<% if @tarifas.any? %>
					<%= image_tag('logoestafeta.jpg')%>
				<% end %>
				<tr>
					<% @dias.zip(@tarifas).each do |dia, tarifa| %>
						<div>
							<input type="radio" name="envio" id='Estafeta <%= dia %>' class="estafeta" value='<%= tarifa %>' unchecked> <%= dia %> - $ <%= tarifa %></input>
						</div>
					<% end %>
				</tr>
			</tbody>
		<% end %>
		<%= f.text_field :shipping, :class => "span2", :style => "display: none" %>
		<%= f.fields_for :ships do |builder| %>
					<%= builder.text_field :ship_name, :style => "display:none" %>
					<%= builder.text_field :ship_selected, :style => "display:none" %>
		<% end %>


		<br/>
		<div style="margin-top:-4%" class="span1">
			<%= f.submit "Elegir", class: "btn" %>
		</div>
	<% end %>
<% end %>


<script>

$('#new_direction').submit(function () {
	var i = 0;
	$.each($('#new_direction .personal'), function()
	    {
	        if($(this).val() ==  "" ){
				$('#errors').text('*información requerida');
				$(this).css('background-color', 'rgb(250, 228, 228)');
		    }else{
				$('#errors').text('');
				$(this).css('background-color', 'white');
				i++;
			}
		});	
		return i == 6? true:false;
    	
});

/*
	$('#new_direction').submit(function(){
	  var someField = $('#direction_name');
	
	  if (someField.val().length < 2) {
		$('#errors').text('*información requerida');
		$('#direction_name').css('background-color', 'rgb(250, 228, 228)');
	    return false;
	  }else{
		$('#errors').text('');
		$('#direction_name').css('background-color', 'white');
	  }
	
	  var someField2 = $('#direction_street');
	
	 if (someField2.val().length < 2) {
		$('#errors').text('*información requerida');
		$('#direction_street').css('background-color', 'rgb(250, 228, 228)');
	    return false;
	  }else{
		$('#errors').text('');
		$('#direction_name').css('background-color', 'white');
	  }
	  
	var someField3 = $('#direction_suburb');
	
	 if (someField3.val().length < 2) {
		$('#errors').text('*información requerida');
		$('#direction_suburb').css('background-color', 'rgb(250, 228, 228)');
	    return false;
	  }else{
		$('#errors').text('');
		$('#direction_name').css('background-color', 'white');
	  }
	  
	 var someField4 = $('#direction_town');
	 if (someField4.val().length < 2) {
		$('#errors').text('*información requerida');
		$('#direction_town').css('background-color', 'rgb(250, 228, 228)');
	    return false;
	  }else{
		$('#errors').text('');
		$('#direction_name').css('background-color', 'white');
	  }
	 
	 var someField5 = $('#direction_state');
	 if (someField5.val().length < 2) {
		$('#errors').text('*información requerida');
		$('#direction_state').css('background-color', 'rgb(250, 228, 228)');
	    return false;
	  }else{
		$('#errors').text('');
		$('#direction_name').css('background-color', 'white');
	  }
	
	  var someField6 = $('#direction_zipcode');
	 if (someField6.val().length < 2) {
		$('#errors').text('*información requerida');
		$('#direction_zipcode').css('background-color', 'rgb(250, 228, 228)');
	    return false;
	  }else{
		$('#errors').text('');
		$('#direction_name').css('background-color', 'white');
	  }
	});
	
	*/
	
	
</script>
