<% if current_user.direction.nil? %>
	<div class="span4" id="cp_actualiza">
		<p id="edit_information">* Actualiza tu información para continuar.</p>
		<div id="zip_form">
	  		<%= form_for(@direction, :url => direction_path, remote: true) do |f| %>
	    		<%= f.text_field :name, :placeholder => "Tu nombre" %>
	    		<%= f.text_field :street, :placeholder => "Calle y número" %>
	    		<%= f.text_field :suburb, :placeholder => "Colonia" %>
	    		<%= f.text_field :town, :placeholder => "Delegación ó municipio" %>
	    		<%= f.text_field :state, :placeholder => "Estado" %>
				<%= f.text_field :zipcode, :placeholder => "Ingresa tu C.P." %>
				<%= f.hidden_field :product_id, :value => @product.id %>
	        	<%= f.submit "Actualizar" %>
	     	<% end %>
		</div>
	</div>
	<% elsif current_user.direction.zipcode == "" || current_user.direction.street == ""  %>
		<div class="span4" id="cp_actualiza">
			<p id="edit_information">* Actualiza tu información para continuar.</p>
	    	<div id="zip_form">
	      		<%= form_for(@direction, :url => direction_path, remote: true) do |f| %>
			    <%= render '/shared/errors', :target => @direction %>
	        		<%= f.text_field :name, :value =>  @address.name, :placeholder => "Tu nombre" %>
	        		<%= f.text_field :street, :value =>  @address.street, :placeholder => "Calle y número" %>
	        		<%= f.text_field :suburb, :value =>  @address.suburb, :placeholder => "Colonia" %>
	        		<%= f.text_field :town, :value =>  @address.town, :placeholder => "Delegación ó municipio" %>
	        		<%= f.text_field :state, :value =>  @address.state, :placeholder => "Estado" %>
					<%= f.text_field :zipcode, :value =>  @address.zipcode, :placeholder => "Ingresa tu C.P." %>
					<%= f.hidden_field :product_id, :value => @product.id %>
		        	<%= f.submit "Actualizar" %>
		     	<% end %>
    		</div>
  		</div>
	<% else %>
		<%= form_for @product, url: envio_df_product_path(@product), remote: true do |f| %>
		<% if @product.ship_df.nil? %>
			<% else %>
				<div><td><%= radio_button_tag 'envio', @product.ship_df, :class => 'Envío dentro DF' %><span id="envio_df"> Envío dentro DF </span>- $<%= @product.ship_df %> </td></div>
		<% end %>
		<% if @product.ship_int.nil? %>
			<% else %>
				<div><td><%= radio_button_tag 'envio', @product.ship_int, :class => 'Envío al interior del país' %><span id="envio_interior"> Envío interior del país </span>- $<%= @product.ship_int %></td></div>
		<% end %>
		<% if @tarifas.nil? && @dias.nil? %>
			<% else %>
			<br/>
			<tbody>
				<% if @tarifas.any? %>
					<%= image_tag('logoestafeta.jpg')%>
				<% end %>
				<tr>
					<% @dias.zip(@tarifas).each do |dia, tarifa| %>
						<div>
							<input type="radio" name="envio" id='Estafeta <%= dia %>' class="estafeta" value='<%= tarifa %>' unchecked> <%= dia %> - $ <%= tarifa %></input>
						</div>
					<% end %>
				</tr>
			</tbody>
		<% end %>
		<%= f.text_field :shipping, :class => "span2", :style => "display: none" %>
		<%= f.fields_for :ships do |builder| %>
					<%= builder.text_field :ship_name, :style => "display:none" %>
					<%= builder.text_field :ship_selected, :style => "display:none" %>
		<% end %>


		<br/>
		<div style="margin-top:-4%" class="span1">
			<%= f.submit "Elegir", class: "btn" %>
		</div>
	<% end %>
<% end %>
