<%= form_for (@product), :action => "edit", :validate => true do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibieron la publicación de este producto:</h2>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div style="margin-top: 5%" id="product_form" class="span3">
  	<div class="field">
		<%= f.label :title, "*nombre del producto", :class => "description-text" %>
		<%= f.text_field :title, placeholder: "" %>
	  </div>
	  <div class="field">
		<%= f.label :brand, "*marca", :class => "description-text" %>
	    <%= f.text_field :brand, placeholder: "" %>
	  </div>
	  <div class="field">
		<%= f.label :price, "*precio", :class => "description-text" %>
	    <%= f.text_field :price, placeholder: " 0.00", :class => "span2", :style => "float:left" %><p>   MXN </p>
	  </div>
	  <br/>
	  <div class="field">
		<%= f.label :description, "*describe tu producto", :class => "description-text" %>
	    <%= f.text_area :description, rows: "4", placeholder: "" %>
	  </div>
	  <div class="field">
		<%= f.label :color, "*color", :class => "description-text" %>
	    <%= f.text_field :color, placeholder: "" %>
	  </div>
	  <div class="field">
		<%= f.label :material, "*material", :class => "description-text" %>
	    <%= f.text_field :material, placeholder: "" %>
	  </div>
 
  <div class="field" style="height: 127px">
	<p style="float:left">
		<%= f.label :refund_policy, "*políticas de devolución", :class => "description-text", :style => "width: 150px"  %>
	</p>
	<i style="margin-left: 5%" id="policy_info" class="icon-info-sign icon-black"></i>
	<div class="popover fade top in" id="pop_policy" style="display:none; position: relative; top: -165px; left:50px">
		<div class="arrow">
		</div>
		<div class="popover-inner">
			<div class="popover-content">
				<p>Ejemplo: "No aplica.", "Solo si el producto esta dañado.", "Solo si después de 30 días no ha sido entregado"</p>
			</div>
		</div>
	</div>
  </div>
	<p style="margin-top:-90px">	
	<%= f.text_area :refund_policy, rows: "3" %>
	</p>
 <div class="field">
    <%= f.label :size_tokens, "*información de tallas/medidas", :class => "description-text"  %>
    <%= f.text_field :size_tokens, data: {load: @product.sizes}%>
  </div>
  <div class="field">
	<%= f.label :quantity, "*piezas disponibles", :class => "description-text"  %>
    <%= f.number_field :quantity %>
  </div>
   
  <div class="field" style="height:20px">
		<p style="float:left">
			<%= f.label :tag_list, "*agrega tus tags", :class => "description-text", :style => "width: 110px" %>
		</p>		
			<i style="margin-left: 5%" id="tag_info" class="icon-info-sign icon-black"></i>
			<div class="popover fade top in" id="pop_tag" style="display:none; position: relative; top:-120px;;">
				<div class="arrow">
				</div>
				<div class="popover-inner">
					<div class="popover-content">
						<p>¿Qué palabras describen a tu producto?(separalas por comas)</p>
					</div>
				</div>
			</div>
	  </div>
	
		<p>
		    <%= f.text_field :tag_list, placeholder: "*agrega tus tags", "data-pre" => @product.tags.map(&:attributes).to_json, data: {load: @product.tags}, :style => "float:left" , :class => "description-text" %>
		</p>
			<div>
				<%= link_to "opciones de envío", envio_path(:product_id => @product.id), {:id => "modal", :rel => "tab", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true, :class => 'button-follow'} %>
			</div>
			<br/>
					<% if @product.ship_df.nil? %>
					<% else%>
					<div style="display:block" id="campo_enviodf">
					
						<%= "Envío dentro DF $#{@product.ship_df}" %>
					</div>
					<% end %>
				
					<% if @product.ship_int.nil? %>
					<% else%>
					<div style="display:block" id="campo_envioint">
					
						<%= "Envío al interior del país $#{@product.ship_int}" %>
					</div>
					<% end %>
			<div style="display:none" id="campo_enviodf">
				<p>
					<div style="float:left">Recoger en CP: </div>
				</p>
			</div>
			<div style="display:none" id="campo_envioint">
				<p>
					<div style="float:left">Recoger en CP: </div>
				</p>
			</div>
			<div style="display:none" id="campo_cp">
				<p>
					<div style="float:left">Recoger en CP: </div>
				</p>
			</div>
			<div style="display:none;" id="campo_estafeta">
				<div>Envío por Estafeta</div>
				<div id="estafeta_tipo" class="forma_estafeta"></div>
				<div id="estafeta_peso" class="forma_estafeta"></div>
				<div id="estafeta_alto" class="forma_estafeta"></div>
				<div id="estafeta_largo" class="forma_estafeta"></div>
				<div id="estafeta_ancho" class="forma_estafeta"></div>
			</div>
			<div style="display:none">
				<%= f.text_field :ship_df, :class => "span2", :style => "display:none" %>
				<%= f.text_field :ship_int, :class => "span2", :style => "display:none" %>
				<%= f.text_field :tipo_envio, :class => "span2", :style => "display:none" %>
				<%= f.text_field :peso, :class => "span2", :style => "display:none" %>
				<%= f.text_field :alto, :class => "span2", :style => "display:none" %>
				<%= f.text_field :largo, :class => "span2", :style => "display:none" %>
				<%= f.text_field :ancho, :class => "span2", :style => "display:none" %>
			</div>
			<hr>
	</div>


   <div style="margin-top:5%" class="span8">
	<div id="ajax-status" style="float:left; display:none; margin-left:35%; margin-top:-15%; z-index: 3000"><%= image_tag("ajax-loader.gif") %></div>
		<div style="background-color:white" class="well">
			<div style="margin-left:30%" class="actions">
					<%= link_to 'Cancelar', user_path(current_user.id), class: "button-unfollow" %>
					<%= f.submit "Actualizar producto", class: "button-want" %>
			</div>
		</div>
	</div>
	<div style="display:block" class="span8" id="mainImage">
		<div style="margin-left:5%" class="row" id="product_images">
			<% if @product.paintings.any? %>
				<% if @product.paintings.count >= 1  %>
				<div style="margin-left: 15%; display:block" id="select_image" class="description-main"> Selecciona la imagen principal del producto </div>
					<% @product.paintings.each_with_index do |painting, index| %>
						<% if index >= 0 && index <= 4 %>
							<div class="painting_<%= painting.id%>">
								<%= content_tag "div", style:"float:left; margin-top:5%", id:"paintings", data: {id: painting.id } do %>
									<div style="float:left" id="image_small" class="span3">
										<%= image_tag(painting.image_url(:feed), :style => "display:block; max-height: 250px")%>
									</div>
									<div><%= radio_button_tag "position", painting.id,{ :checked => true }, style:"margin-left: 25%; margin-bottom: 3%; float:left" %><span style="display:none; margin-left:15%" class="imagen_principal">Imagen principal</span></div>
										<%= link_to image_tag("close.png"), painting, method: :delete, remote: true, class: "remove_picture_edit" %>
								<% end %>
							</div>
						<% end %>
					<% end %>
				<% end %>
				<% else %>
						<ul style="display:block; margin-left: 25%" id="images_fake">
							<li class="image_small_fake" class="span3">
							</li>
							<li class="image_small_fake" class="span3">
							</li>
							<li class="image_small_fake" class="span3">
							</li>
							<li class="image_small_fake" class="span3">
							</li>
						</ul>
			<% end %>
		</div>
	</div>
	<% end %>	
	<div style="margin-top:5%; margin-left:7%" class="span6">
		 <span class="text-info">*agrega las fotos de tu producto (máximo 4). <br/>
			Selecciona cuál es la imagen<strong> PRINCIPAL</strong>. Utiliza fotos menores a 2MB 
 		  </span>
			<%= form_for(Painting.new, :remote => true) do |f| %>
			  <%= f.hidden_field :product_id, :value => @product.id %>
			  <%= f.file_field :image, multiple: true, name: "painting[image]"%>
			<% end %>
	</div>

<script id="template-upload" type="text/x-tmpl">
<div id="name" style="display:none">

	<div class="upload">
		<div class="span2">
			{%=o.name%}
	  		<div class="progress"><div class="bar" style="width: 0%"></div></div>
		</div
	</div>
</div>
</script>


<script type="text/javascript">
$("#product_form").keypress(function (evt) {
	//Deterime where our character code is coming from within the event
	var charCode = evt.charCode || evt.keyCode;
	if (charCode  == 13) { //Enter key's keycode
	return false;
	}
});

$("input[name=position]").change(function(){
	$('.imagen_principal').hide();
	$(this).next('span').show();
});

</script>