<%= form_for (@product), url: products_path(:product_id => @product.id), :validate => true do |f| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibieron la publicación de este producto:</h2>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div style="margin-top: 5%" id="product_form" class="span3">
  <div class="field">
	<%= f.label :title, "*nombre de la prenda ó item", :class => "description-text" %>
	<%= f.text_field :title, placeholder: "" %>
  </div>
  <div class="field">
	<%= f.label :brand, "*marca", :class => "description-text" %>
    <%= f.text_field :brand, placeholder: "" %>
  </div>
  <div class="field">
	<%= f.label :description, "*describe tu producto", :class => "description-text" %>
    <%= f.text_area :description, rows: "4", placeholder: "" %>
  </div>
  <div class="field">
	<%= f.label :price, "*precio", :class => "description-text" %>
    <%= f.text_field :price, placeholder: " 0.00", :class => "span2", :style => "float:left" %><p>   MXN </p>
  </div>
  <br/>
  <div class="field">
	<%= f.label :url, "*URL a redireccionar cuando alguien da COMPRAR en tu item", :class => "description-text" %>
    <%= f.text_field :url, :value =>"http://", :class => "span3", :style => "float:left" %>
  </div>
  <br/>
  <div class="field" style="height:20px">
	<p style="float:left">
		<%= f.label :tag_list, "*agrega tus tags", :class => "description-text", :style => "width: 110px" %>
	</p>		
    <i style="margin-left: 5%" id="tag_info" class="icon-info-sign icon-black"></i>
    <div class="popover fade top in" id="pop_tag" style="display:none; position: relative; top:-111px; left: 4px;">
    	<div class="arrow">
		</div>
		<div class="popover-inner">
			<div class="popover-content">
				<p class="popup-text">¿Qué palabras describen a tu producto?(separalas por comas)</p>
			</div>
		</div>
	 </div>
	</div>
	<p>
	    <%= f.text_field :tag_list, placeholder: "*agrega tus tags", "data-pre" => @product.tags.map(&:attributes).to_json, data: {load: @product.tags}, :class => "description-text" %>
	</p>
	<hr>
		
</div>
	<div id="hidden_fields">
		  <%= f.hidden_field :color, :value =>"nil" %>
		  <%= f.hidden_field :material, :value =>"nil " %>
		  <%= f.hidden_field :refund_policy, :value =>"nil" %>
		  <%= f.hidden_field :quantity, :value => 1 %>
		  <%= f.hidden_field :delivery_time, :value => 1 %>
		  <%= f.hidden_field :ship_df, :value =>2 %>
	</div>
	<div style="margin-top:5%"class="span8">
		<div style="margin-left:5%; background-color:white" class="well">
			<div style="margin-left:30%" class="actions">
				<%= link_to 'Cancelar', user_path(current_user.id), class: "button-unfollow" %>
				<%= f.submit "Crear Producto", class: "button-want" %>
			</div>
		</div>
	</div>
	<div style="display:block; margin-left: 5%;" class="span8" id="mainImage">
			<div style="margin-left: 15%; display:none" id="select_image" class="description-main"> Selecciona la imagen principal del producto </div>
			<div style="margin-left:5%" class="row" id="product_images">
				<ul style="display:block; margin-left: 25%" id="images_fake">
					<li class="image_small_fake" class="span3">
					</li>
					<li class="image_small_fake" class="span3">
					</li>
					<li class="image_small_fake" class="span3">
					</li>
					<li class="image_small_fake" class="span3">
					</li>
				</ul>
			</div>
	</div>
<% end %>


<div style="display:block; margin: 3% 0 0 8%;" class="span8" id="mainImage">
	<div class="span6">
			<span class="text-info">*agrega las fotos de tu producto (máximo 4). <br/>
			Utiliza fotos menores a 2MB 
			</span>
			<%= form_for(Painting.new, :remote => true) do |f| %>
			  <%= f.hidden_field :product_id, :value => @product.id %>
			  <%= f.file_field :image, multiple: true, name: "painting[image]"%>
		    <% end %>
	</div>
</div>
<div id="ajax-status" style="float:left; display:none; margin-left:35%; margin-top:-15%; z-index: 3000"><%= image_tag("ajax-loader.gif") %></div>

<script id="template-upload" type="text/x-tmpl">
<div id="name" style="display:none">

	<div class="upload">
		<div class="span2">
			{%=o.name%}
	  		<div class="progress"><div class="bar" style="width: 0%"></div></div>
		</div
	</div>
</div>

</script>

<script type="text/javascript">
$("#product_form").keypress(function (evt) {
//Deterime where our character code is coming from within the event
	var charCode = evt.charCode || evt.keyCode;
	if (charCode  == 13) { //Enter key's keycode
	return false;
	}
});


</script>

