<div id="contenedor" class="clearfix masonry">
 		<% @products.each do |product| %>
		<div class="box photo col3 masonry-brick">
	 	  <div id="favorites_frame">
			<div id="favorites_image">
			  	<%= link_to tag(:img, { :src => product.picture }, false), product %>
		
				<% if signed_in? %>
					<div style="margin-right:-21%; margin-top: -9%" class="votacion" id="votacion_<%= product.id %>">
						<% if product.user_id == current_user.id %>
							<span id="want_<%= product.id %>">
								<div id="love_icon_<%= product.id %>" class="love_icon_active">
									<span style="float:left; display:block; margin-left:-50%; color:black" id="love_product_<%= product.id %>">
										<%= product.reputation_value_for(:votes).to_i %>
									</span>
								</div>
				   			</span>
							<% elsif current_user && !current_user.voted_for?(product) %>
								<div id="ajax-status" style="float: right; display:none; margin-left: 50%; width:20px">
									<%= image_tag("loading.gif") %>
								</div>
								<span id="want_<%= product.id %>">
									<div id="love_icon_<%= product.id %>" class="love_icon">
										<span style="float:left; display:none; margin-left:-50%; color:black" id="love_product_<%= product.id %>">
											<%= product.reputation_value_for(:votes).to_i %>
										</span>
										<%= link_to "xxx", vote_product_path(product, type: "up"), :class =>"trick_anchor", :remote => true,  method: "post", id: "link" %>
									</div>
					   			</span>
							<% else %>
								<div id="ajax-status" style="float: right; display:none; margin-left: 50%; width:20px">
									<%= image_tag("loading.gif") %>
								</div>
			        			<span id="want_<%= product.id %>">
			        				<div id="love_icon_<%= product.id %>" class="love_icon_active">
										<span style="float:left; display:block; margin-left:-50%; color:black" id="love_product_<%= product.id %>">
			        						<%= product.reputation_value_for(:votes).to_i %>
			        					</span>
			        				</div>
			       				</span>
						<% end %>
					</div>
				<% end %>
	 		</div>
	 		<p style="text-align:center"><strong><%= product.title %></strong> 
 				<span style="color:#DD390D">$<%= product.price %></span> by <span style="color:#999"><span id="product_designer"><%= link_to product.brand, user_path(product.user) %></span></span>
 			</p>
	  	</div>
	</div>
  <% end %>
</div>
<script type="text/javascript">mixpanel.track("Random Page Loaded")</script>