<% content_for :meta do %>
	<% meta :keywords => @product.tags %>
	<% meta [:property => "og:image", :content => @product.picture] %>
	<% meta [:property => "og:description", :content => " #{@product.brand} - #{@product.title} - #{@product.description}"] %>
	<% meta [:property => "og:type", :content => "website"] %>
	<% meta [:property => "og:title", :content => " #{@product.brand} - #{@product.title} - #{@product.description}"] %>
	<% meta [:property => "og:url", :content => "https://soxialit.com/products/#{@product.id}"] %>
	<% meta [:property => "fb:app_id", :content => ENV["APP_ID"] ] %>
<% end %>

<% if params[:PayerID] %>
	<%= form_for @pay do |f| %>
		<h1>¡Gracias por tu compra!</h1>
		<p>Confirma que este es el correo de tu cuenta de <strong>PayPal: </strong></p>
		<div class="field">
	      <%= f.label :email %>
	      <%= f.text_field :email, :value => @pay.email, :disabled => true %>
	    </div>
		<%= f.hidden_field :paypal_customer_token, :value => @pay.paypal_customer_token %>
		<%= f.hidden_field :paypal_payment_token, :value => @pay.paypal_payment_token %>
		<%= f.hidden_field :product_id %>
		
		<div class="actions">
		      <%= f.submit "Confirmar", :class => "button-follow" %>
		</div>
	<% end %>
<% else %>
	<% if signed_in? %>
		<% if @product.user_id == current_user.id && @product.status != true %>
			<div style="background-color:white" class="well">
		        <div class="span12">
		        	<div class="span2 offset2">
		        		<%= link_to "Regresar a mi perfil", current_user, :class => "btn", :style => "width:120px; margin-top:-2%"%>
		        	</div>
		        	<div class="span1">
		        		<%= link_to "Editar", edit_product_path(@product), :class => "button-follow"%>
		        	</div>
		        	<div class="span1">
		        		<%= link_to "Eliminar", @product, method: :delete, data: {confirm: '¿Estás seguro?'}, :class => "button-unfollow"%>
		        	</div>
		        </div>
			</div>
		<% end %>
	<% end %>
	<% if @product.user_id == 65 || @product.user_id == 27 || @product.user_id == 47 || @product.user_id == 16 || @product.user_id == 265 || @product.user_id == 67 %>
		<%= render 'show_product'%>
	<% else %>
		<%= render 'show_simple' %>
	<% end %>
<% end %>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=439343236107925";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>