<% content_for :meta do %>
	<% meta :keywords => @product.tags %>
	<% meta [:property => "og:image", :content => @product.picture] %>
	<% meta [:property => "og:description", :content => " #{@product.brand} - #{@product.title} - #{@product.description}"] %>
	<% meta [:property => "og:type", :content => "website"] %>
	<% meta [:property => "og:title", :content => " #{@product.brand} - #{@product.title} - #{@product.description}"] %>
	<% meta [:property => "og:url", :content => "https://soxialit.com/products/#{@product.id}"] %>
	<% meta [:property => "fb:app_id", :content => ENV["APP_ID"] ] %>
<% end %>

<% if params[:PayerID] %>
	<%= form_for @pay do |f| %>
		<h1>¡Gracias por tu compra!</h1>
		<p>Confirma que este es el correo de tu cuenta de <strong>PayPal: </strong></p>
		<div class="field">
	      <%= f.label :email %>
	      <%= f.text_field :email, :value => @pay.email, :disabled => true %>
	    </div>
		<%= f.hidden_field :paypal_customer_token, :value => @pay.paypal_customer_token %>
		<%= f.hidden_field :paypal_payment_token, :value => @pay.paypal_payment_token %>
		<%= f.hidden_field :product_id %>
		
		<div class="actions">
		      <%= f.submit "Confirmar", :class => "button-follow" %>
		</div>
	<% end %>
<% else %>
	<% if signed_in? %>
		<% if @product.user_id == current_user.id && @product.status != true %>
			<div style="background-color:white" class="well">
		        <div class="span12">
		        	<div class="span2 offset2">
		        		<%= link_to "Regresar a mi perfil", current_user, :class => "btn", :style => "width:120px; margin-top:-2%"%>
		        	</div>
		        	<div class="span1">
		        		<%= link_to "Editar", edit_product_path(@product), :class => "button-follow"%>
		        	</div>
		        	<div class="span1">
		        		<%= link_to "Eliminar", @product, method: :delete, data: {confirm: '¿Estás seguro?'}, :class => "button-unfollow"%>
		        	</div>
		        </div>
			</div>
		<% end %>
	<% end %>
	<div class="row-fluid" style="margin-top:-7%; margin-left:-10%; width: 1150px">
		<div style="margin: 5% 0% 5% -3%; text-align:center; width:800px" class="span7">
		  <% if @product.paintings.any? %>
		  <% else %>
			<div class="defaultMainImage" style="float:left;"></div>
		  <% end %>
	
		  <% if @product.paintings.any? %>
		        <div class="mainpicture" style="float:left" id="painting_<%= @product.paintings.first.id %>">
		        	<%= image_tag(@product.picture)  %>
		        </div>
		        	<ul id="productImagesSortable" style="float:right;">
		        			<% @product.paintings.each_with_index do |painting, index| %>
		        				<% if index < 4 %>
		        					<%= content_tag "div", class:"paintings", data: {id: painting.id } do %>
		        			 			<li id="smallImage_show" class="painting_<%= painting.id%>">
		        							<%= image_tag(painting.image_url(:thumb))%>
		        						</li>
		        					<% end %>
		        				<% end %>
		        			<% end %>
		        	</ul>
		        <% end %>
			</div>
	<div style="margin-top:5%; width: 340px" class="span4">
		<div class="well" style="border: 1px solid white; background-color:white">
			<div class="description-medium">
		        <div class="product_reputation">
		        <% if signed_in? %>
		        	<div class="votacion" style="display:block; float:left; margin: 22% -104% 0% 90%" id="votacion_<%= @product.id %>">
		        		<% if @product.user_id == current_user.id %>
						   <div id="ajax-status" style="float: right; display:none; margin-left: 50%; width:20px">
								<%= image_tag("loading.gif") %>
							</div>
		        			<span id="want_<%= @product.id %>">
		        				<div id="love_icon_<%= @product.id %>" class="love_icon_active">
									<span style="float:left; display:block; margin-left:-50%; color:black" id="love_product_<%= @product.id %>">
		        						<%= @product.reputation_value_for(:votes).to_i %>
		        					</span>
		        				</div>
		       				</span>
		        		<% elsif current_user && !current_user.voted_for?(@product) %>
						   <div id="ajax-status" style="float: right; display:none; margin-left: 50%; width:20px">
								<%= image_tag("loading.gif") %>
							</div>
		        			<span id="want_<%= @product.id %>">
		        				<div id="love_icon_<%= @product.id %>" class="love_icon">
									<span style="float:left; display:block; margin-left:-50%; color:black" id="love_product_<%= @product.id %>">
		        						<%= @product.reputation_value_for(:votes).to_i %>
		        					</span>
		        					<%= link_to "x", vote_product_path(@product, type: "up"), :class =>"trick_anchor", :remote => true,  method: "post", id: "link" %>
		        				</div>
		           			</span>
						<% else %>
							<div id="ajax-status" style="float: right; display:none; margin-left: 50%; width:20px">
								<%= image_tag("loading.gif") %>
							</div>
		        			<span id="want_<%= @product.id %>">
		        				<div id="love_icon_<%= @product.id %>" class="love_icon_active">
									<span style="float:left; display:block; margin-left:-50%; color:black" id="love_product_<%= @product.id %>">
		        						<%= @product.reputation_value_for(:votes).to_i %>
		        					</span>
		        				</div>
		       				</span>
		        	<% end %>
		        	</div>
		        <% end %>
			</div>
		</div>
			<div class="description-main">
		      	<%= @product.title %>
		 	</div>
			<div class="description-brand"> 
		     by <%= link_to @product.brand, user_path(@product.user) %>
			</div> 
			<hr>
			<div class="description-price">
		        <%= number_to_currency(@product.price) %>
			</div>
			<div style="margin-left:49%; margin-top:-10%">
		        <%= link_to "Comprar", comprar_path(:product_id => @product.id), {:id => "modal", :rel => "tab", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true, :class => 'button-want'} %>
			</div>
			<br/>
			<div class="description-low" style=""> Medidas/Tallas</div>
			<div style="float:left" class="description-medium"> <%= find_sizes(@product.sizes) %> </div>
			<div style="margin:-9% 0 0 49%">
		        <div class="tag">
		        	<%= link_to '<i class="icon-info-sign icon-black"></i> Guía de medidas'.html_safe, tallas_path(:product_id => @product.id), {:id => "modal", :rel => "tab", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true, :class => 'label'} %>
		        </div>
			</div>
			<br/>
			<div class="description-low"> Piezas disponibles</div>
			<div class="description-medium"> <%= @product.quantity %> 
					<span style="float:right; margin-right:16%; margin-top:-6%; display:block">
						<div class="fb-like" data-href="" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
					</span>
			</div>
			<hr>
			<div class="description-text"> "<%= @product.description %>"</div>
			<hr>
			<div style="display:block; margin-bottom:5%">
		        <div style="float:left; margin-botom:5%; position:relative; width: 150px">
		        	<div class="description-low"> Colores</div>
		        	<div class="description-text"> <%= @product.color %> </div>
		        </div>
		        <div style="float:left; margin-botom:5%; position:relative; width: 150px">
		        	<div class="description-low"> Material</div>
		        	<div class="description-text"> <%= @product.material %> </div>
		        </div>
			</div>
			<br/>
			<br/>
			<div style="margin-top: 15%" class="description-low">
		        <hr>
		         Política de devolución
			</div>
			<div class="description-text"> <%= @product.refund_policy %> </div>
			<hr>
			<div class="description-low"> Tags: 
		        <div class="tag">
		        	<% @product.tag_list.each do |tag| %>
		        		<%= link_to tag, tag_path(tag), class: "label" %>
		        	<% end %>
		        </div>
			</div>
			<hr>
			<div class="description-low">Tiempo estimado de entrega</div>
			<i style="float:left" class="icon-time icon-black"></i>
			<div style="margin-left:8%; margin-top:-2%" class="description-text"><%= "#{@product.delivery_time} días" %></div>
			<div class="description-low"> Opciones de envío</div>
		        <% if @product.ship_df.nil? %>
		        	<% else %>
		        	<div class="description-medium">Envío en DF:  <%= number_to_currency(@product.ship_df) %> </div>
		        <% end %>
		        <% if @product.ship_int.nil? %>
		        	<% else %>
		        	<div class="description-medium">Envío interior del país:  <%= number_to_currency(@product.ship_int) %> </div>
		        <% end %>
		        <% if @tarifas.nil? && @dias.nil? %>
		        	<% else %>
		        	<br/>
		        	<tbody>
		        		<% if @tarifas.any? %>
		        		<%= image_tag('logoestafeta.jpg')%>
		        		<% end %>
		        		<tr>
		        			<% @dias.zip(@tarifas).each do |dia, tarifa| %>
		        				<div class="description-medium">
		        					<%= dia %> - $ <%= tarifa %>
		        				</div>
		        			<% end %>
		        		</tr>
		        	</tbody>
		        <% end %>
		        
			</div>
	
		        <div style="border: 1px solid white; background-color:white; height: auto" class="well">
		        	<div style="margin-left:0px" class="row">
		        		<div class="description-brand">
		        			Productos de <%= link_to @product.brand, user_path(@product.user) %>
		        		</div>
		        
		        		<% @products.shuffle.each_with_index do |product, index| %>
		        			<% break if index == 4 %>
		        			<% if product.status != true %>
		        			<% else %>
		        	  			<div style="padding:1%; width: 22.5%" class="span3">
		        						<span class="description-low"><%= product.title %> </span>
		        						<% if product.paintings.any? %>
		        							<div style="height: auto; margin-top: 10%"><%= link_to image_tag(url_painting(product.paintings)), product %></div>
		        						<% end %>
		        				</div>
		        			<% end %>
		        		<% end %>
		        	</div>
		        </div>
		</div>
	</div>
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=439343236107925";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>