<header class="navbar navbar-fixed-top">
		<div
		 style="background-color:black;
				background: -webkit-linear-gradient(top, black, black);
				background: -moz-linear-gradient(top, black, black);"
		 class="navbar-inner">
			<div class="container">
				<span class="span6">
					<div id="titleProfile"><%= link_to "Soxialit", root_path %></div>
				</span>
				<nav>
				  <ul class="nav pull-right">
					<% if user_signed_in? %>
						<li id="feedback_header"><%= link_to "Feedback", feedbacks_path %></li>
						<li class="divider-vertical"></li>
					    <li id="feedback_header">
					   	  <a href="http://soxialit.com/products"><i class="icon-random icon-white"></i></a>
					   	</li>
						<li class="divider-vertical"></li>
						<li><% if !current_user.picture.present? %>
							<%= link_to image_tag("http://graph.facebook.com/#{current_user.uid}/picture?type=square", 
										width: 35, height: 35, :id =>  "navbar_small_picture"), user_path(current_user) %>
						<% else %>
							<%= link_to image_tag(current_user.picture_url(:thumb_profile), 
										width: 35, height: 35, :id => "navbar_small_picture"), user_path(current_user) %>
						<% end %></li>
							<li id="fat-menu" class="dropdown">
					              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
						        	<b class="caret"></b>
					              </a>
					              <ul id="profile_menu" class="dropdown-menu">
					                <li><%= link_to "Editar Perfil", edit_user_path(current_user) %></li>
					                <li class="divider"></li>
					                <li>
					                  <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
					                </li>
					              </ul>
					        </li>
					<% else %>
						<li id="signup"><%= link_to "Ingresa a la comunidad y crea tu cuenta", 
												user_omniauth_authorize_path(:facebook) %></li>
						<li class="divider-vertical" style="color:yellow"></li>
						<li id="signin"><%= link_to "Inicia sesión", user_omniauth_authorize_path(:facebook) %></li>
	   				<% end %>
              	  </ul>
              	</nav>
			</div>
		</div>
		<div id="profile_nav_botton"></div>
</header>

<script>
		$('#fat-menu').click(function(){
			$('#profile_menu').toggle();
		});
</script>