<!DOCTYPE html>
<html>
<head>
  <title>Soxialit- La Fashion Social Network para Mexico y Latinoamerica</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Dosis|Lobster|Quicksand|Tenor+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
    <% flash.each do |type, message| %>
      <div class="alert <%= flash_class type %>">
        <button class="close" data-dismiss="alert">x</button>
        <%= message %>
      </div>
    <% end %>
  <%= yield %>
</div>
</body>
</html>