<!DOCTYPE html>
<html>
  <head>
    <title>Soxialit</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Arimo|Lobster' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//use.typekit.net/oco2fog.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <style>
  </style>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
     <% flash.each do |type, message| %>
        <div class="alert <%= flash_class type %>">
          <button class="close" data-dismiss="alert">x</button>
          <%= message %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>